<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 上传体检报告</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
</head>
<body class="layui-dialog-body">
<div class="layui-upload">
    <button type="button" class="layui-btn layui-btn-normal" id="file">选择上传的文件</button>
    <button type="button" class="layui-btn" id="upload">开始上传</button>
    <div class="layui-upload-list">
        <table class="layui-table" style="text-align: center;">
            <thead>
            <tr>
                <th style="text-align: center;">文件名</th>
                <th style="text-align: center;">状态</th>
                <th style="text-align: center;">操作</th>
            </tr>
            </thead>
            <tbody id="fileList"></tbody>
        </table>
        <input type="hidden" id="arId" name="arId"/>
    </div>
</div>
<script th:src="@{/static/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>
<script th:src="@{/static/js/public.js}" charset="utf-8"></script>
<script>
    var fileListView, uploadListIns;
    var arArr = new Array();
    var count = 0;
    layui.use(['form', 'upload'], function () {
        var $ = layui.jquery,
            form = layui.form,
            upload = layui.upload;
        //文件上传
        fileListView = $('#fileList')
            , uploadListIns = upload.render({
            elem: '#file'
            , url: 'uploadDoc'
            , accept: 'file'
            ,exts: 'pdf'
            , multiple: true
            , auto: false
            , bindAction: '#upload'
            , choose: function (obj) {
                if (count == 0) {
                    var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    //读取本地文件
                    obj.preview(function (index, file, result) {
                        var tr = $(['<tr id="upload-' + index + '">'
                            , '<td>' + file.name + '</td>'
                            , '<td>等待上传</td>'
                            , '<td>'
                            , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                            , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                            , '<a href="" class="demo-show layui-hide" style="margin-left: 10px;"><button class="layui-btn layui-btn-xs layui-btn-danger">下载</button></a>'
                            , '</td>'
                            , '</tr>'].join(''));

                        //单个重传
                        tr.find('.demo-reload').on('click', function () {
                            obj.upload(index, file);
                        });

                        //删除
                        tr.find('.demo-delete').on('click', function () {
                            delete files[index]; //删除对应的文件
                            tr.remove();
                            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                            count = 0;
                        });
                        fileListView.append(tr);
                    });
                    count++;
                } else {
                    layer.msg("只能上传一个文件");
                    return false;
                }
            }
            , done: function (res, index, upload) {
                if (res.code == 200) { //上传成功
                    var data = res.data;
                    var url = getRootPath() + "/download?fileName=" + data.uuid + data.suffix;
                    var tr = fileListView.find('tr#upload-' + index)
                        , tds = tr.children();
                    tds.eq(1).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(2).find('.demo-delete').removeClass('layui-hide');
                    tds.eq(2).find('.demo-show').removeClass('layui-hide');
                    tds.eq(2).find('.demo-show').attr("href", url);
                    arArr.push(data.fileName + data.suffix + "," + data.uuid + data.suffix);
                    update();
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            , error: function (index, upload) {
                var tr = fileListView.find('tr#upload-' + index)
                    , tds = tr.children();
                tds.eq(1).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(2).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });
    });

    //显示数据
    function renderData(data) {
        layui.use(['form'], function () {
            var $ = layui.jquery;
            $("#arId").val(data.arId);
            //形成表格
            if(data.arMedreport != null && data.arMedreport != undefined && data.arMedreport != ''){
                arArr = data.arMedreport.split(";");
                initTable();
                count =1;
            }
        });
    };

    //获取项目地址路径
    function getRootPath() {
        var curWwwPath = window.location.href;
        var pathName = window.location.pathname;
        var local = curWwwPath.substring(0, curWwwPath.indexOf(pathName));
        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
        var rootPath = local + projectName;
        return rootPath;
    }

    function initTable() {
        $('#fileList').html("");
        for (var index = 0; index < arArr.length; index++) {
            var value = arArr[index].split(",");
            var url = getRootPath() + "/download?fileName=" + value[1];
            var uuid = "c"+value[1].substring(0,value[1].indexOf("."));
            var tr = '<tr id="'+ uuid + '">';
            tr +='<td>' + value[0] + '</td>';
            tr +='<td><span style="color: #5FB878;">上传成功</span></td>';
            tr +='<td>';
            tr +='<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete" onclick="removes('+uuid+')">删除</button>';
            tr +='<a href="'+url+'" class="demo-show " style="margin-left: 10px;"><button class="layui-btn layui-btn-xs layui-btn-danger">下载</button></a>';
            tr +='</td>';
            tr +='</tr>';
            $('#fileList').append(tr);
        }
    }

    //删除table表格中的数据
    function removes(ids) {
        var id = ids.textContent.substring(0,ids.textContent.indexOf("."));
        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
        for (var x in arArr) {
            if (arArr[x].indexOf(id[1]) != -1) {
                //删除文件
                var url = getRootPath() + "/deleteFile?fileName=" + arArr[x].split(",")[1]+"&type=6";
                $.ajax({
                    url: url,
                    type: "get",
                    dataType: "json",
                    async: false
                });
                arArr.splice(jQuery.inArray(arArr[x], arArr), 1);
                //修改表数据
                update();
            }
        }
        initTable();
        count = 0;
    }

    //修改数据库数据
    function update() {
        for (var i in arArr) {
            var arMedreport = arArr[i] + ";";
        }
        $.ajax({
            url: "setMedreport",
            type: "post",
            data: {"arId": $("#arId").val(), "arMedreport": arMedreport},
            dataType: "json",
            async: false
        });
    }
</script>
</body>
</html>