<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 核销处理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div class="layui-margin-10">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">核销码</label>
                            <div class="layui-input-block">
                                <input type="text" id="arUsecode" name="arUsecode" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">卡号</label>
                            <div class="layui-input-block">
                                <input type="text" id="cardCode"name="cardCode" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-block">
                                <input type="text" id="arContact1" name="arContact1" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-block">
                                <input type="text" id="arTel1" name="arTel1" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">会员手机号</label>
                            <div class="layui-input-block">
                                <input type="text" id="memTel" name="memTel" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="dataSearch">搜索</a>
                        </div>
                    </div>
                    <input type="hidden" ame="pcId" id="pcId" th:value="${session.employee.pcId}"/>
                    <input type="hidden" name="merId" id="merId" th:value="${session.employee.merId}" />
                    <div th:if=" ${session.employee.pcId} eq 3">
                        <input type="hidden" name="hotId" id="hotId" th:value="${session.employee.hotId}" />
                    </div>
                </form>
            </div>
        </fieldset>

        <table class="layui-hide" id="hotelTable" lay-filter="hotelTable"></table>
        <table class="layui-hide" id="inspectTable" lay-filter="inspectTable"></table>
        <table class="layui-hide" id="tourTable" lay-filter="tourTable"></table>
        <!--日期处理-->
        <script type="text/html" id="dateFormat">
            {{# if(d.arVisittime != null && d.arVisittime != undefined && d.arVisittime != ''){ }}
            <div>{{layui.util.toDateString(d.arVisittime, 'yyyy-MM-dd')}}</div>
            {{# } }}
        </script>
        <script type="text/html" id="tableDataBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="writeoff">核销</a>
        </script>
    </div>
</div>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/public.js}" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        var pcId = $("#pcId").val();
        switch (pcId) {
            case "1":
                //体检数据表格
                table.render({
                    elem: '#inspectTable',
                    url: 'getAllSubscribe',
                    toolbar: true,
                    even: true,
                    cellMinWidth: 120,
                    title: '核销处理表',
                    cols: [
                        [
                            {type: 'numbers', title: 'ID', width: 80, fixed: 'left', align: 'center'},
                            {field: 'arTel1', title: '联系电话', align: 'center'},
                            {field: 'arVisittime', title: '上门时间', align: 'center', sort: true, templet: '#dateFormat'},
                            {field: 'memNickname', title: '会员昵称', align: 'center'},
                            {field: 'memTel', title: '会员手机号', align: 'center'},
                            {field: 'cardCode', title: '卡号', align: 'center'},
                            {field: 'arUsecode', title: '核销码', align: 'center'},
                            {field: 'proName', title: '商品名称', align: 'center'},
                            {field: 'arApptime', title: '预约时间', align: 'center', width: 180, sort: true},
                            {field: 'arContact1', title: '联系人', align: 'center'},
                            {field: 'arIdcard1', title: '身份证', width: 180, align: 'center'},
                            {title: '操作', toolbar: '#tableDataBar', fixed: 'right', align: 'center'}
                        ]
                    ],
                    limits: [10, 15, 20, 25, 50, 100],
                    limit: 10,
                    where: {
                        arAppstate: "已预约",
                        merId: $("#merId").val(),
                        writeoff:"核销"
                    },
                    page: true
                });
                writeoff('tool(inspectTable)', 'inspectTable');
                break;
            case "2":
                //旅游数据表格
                table.render({
                    elem: '#tourTable',
                    url: 'getAllSubscribe',
                    toolbar: true,
                    even: true,
                    title: '核销处理表',
                    cellMinWidth: 120,
                    cols: [
                        [
                            {type: 'numbers', title: 'ID', width: 80, fixed: 'left', align: 'center'},
                            {field: 'arTel1', title: '联系电话', align: 'center'},
                            {field: 'arVisittime', title: '出发时间', align: 'center', sort: true, templet: '#dateFormat'},
                            {field: 'memNickname', title: '会员昵称', align: 'center'},
                            {field: 'memTel', title: '会员手机号', align: 'center'},
                            {field: 'cardCode', title: '卡号', align: 'center'},
                            {field: 'arUsecode', title: '核销码', align: 'center'},
                            {field: 'proName', title: '商品名称', align: 'center'},
                            {field: 'arApptime', title: '预约时间', align: 'center', width: 180, sort: true},
                            {field: 'arDepartcity', title: '出发城市', align: 'center'},
                            {field: 'arContact1', title: '联系人', align: 'center'},
                            {field: 'arIdcard1', title: '身份证', width: 180, align: 'center'},
                            {title: '操作', toolbar: '#tableDataBar', fixed: 'right', align: 'center'}
                        ]
                    ],
                    limits: [10, 15, 20, 25, 50, 100],
                    limit: 10,
                    where: {
                        arAppstate: "已预约",
                        merId: $("#merId").val(),
                        writeoff:"核销"
                    },
                    page: true
                });
                writeoff('tool(tourTable)', 'tourTable');
                break;
            case "3":
                //酒店数据表格
                table.render({
                    elem: '#hotelTable',
                    url: 'getAllSubscribe',
                    title: '核销处理表',
                    toolbar: true,
                    even: true,
                    cellMinWidth: 120,
                    cols: [
                        [
                            {type: 'numbers', title: 'ID', width: 80, fixed: 'left', align: 'center'},
                            {field: 'arTel1', title: '联系电话', align: 'center'},
                            {field: 'arVisittime', title: '入住时间', align: 'center',sort: true, templet: '#dateFormat'},
                            {field: 'memNickname', title: '会员昵称', align: 'center'},
                            {field: 'memTel', title: '会员手机号', align: 'center'},
                            {field: 'cardCode', title: '卡号', align: 'center'},
                            {field: 'arUsecode', title: '核销码', align: 'center'},
                            {field: 'proName', title: '商品名称', align: 'center'},
                            {field: 'arApptime', title: '预约时间', align: 'center', width: 180, sort: true},
                            {field: 'arContact1', title: '联系人', align: 'center'},
                            {field: 'arIdcard1', title: '身份证', width: 180, align: 'center'},
                            {title: '操作', toolbar: '#tableDataBar', fixed: 'right', align: 'center'}
                        ]
                    ],
                    limits: [10, 15, 20, 25, 50, 100],
                    limit: 10,
                    where: {
                        arAppstate: "已预约",
                        merId: $("#merId").val(),
                        hotId: $("#hotId").val(),
                        writeoff:"核销"
                    },
                    page: true
                });
                writeoff('tool(hotelTable)', 'hotelTable');
                break;
        }
        //监听搜索操作
        form.on('submit(dataSearch)', function (data) {
            switch (pcId) {
                case "1":
                    //执行搜索重载
                    reload('inspectTable');
                    break;
                case "2":
                    //执行搜索重载
                    reload('tourTable');
                    break;
                case "3":
                    //执行搜索重载
                    reload('hotelTable');
                    break;
            }
        });
    });

    //刷新表格
    function reload(tables) {
        layui.use(['form', 'table'], function () {
            var $ = layui.jquery,
                table = layui.table;
            if ($("#cardCode").val() != "" && (!(/^(\+|-)?\d+$/.test($("#cardCode").val())) || $("#cardCode").val() <= 0)) {
                layer.msg("卡号只能为大于0的整数");
                return false;
            }
            var hotId = "";
            if($("#pcId").val() == 3){
                hotId = $("#hotId").val();
            }
            var writeoff = "核销";
            if(($("#arUsecode").val() != null  && $("#arUsecode").val() != '' && $("#arUsecode").val() != undefined) ||( $("#cardCode").val() != null  && $("#cardCode").val() != '' && $("#cardCode").val() != undefined) || ($("#arContact1").val() != null  && $("#arContact1").val() != '' && $("#arContact1").val() != undefined) || ( $("#arTel1").val() != null  && $("#arTel1").val() != '' && $("#arTel1").val() != undefined) || ($("#memTel").val() != null  && $("#memTel").val() != '' && $("#memTel").val() != undefined)){
                writeoff = "";
            }
            table.reload(tables, {
                page: {
                    curr: 1
                }
                , where: {
                    arUsecode: $("#arUsecode").val(),
                    cardCode: $("#cardCode").val(),
                    arContact1: $("#arContact1").val(),
                    arTel1: $("#arTel1").val(),
                    arAppstate: "已预约",
                    hotId: hotId,
                    memTel: $("#memTel").val(),
                    merId: $("#merId").val(),
                    writeoff:writeoff
                }
            }, 'data');
        });
    }

    //核销
    function writeoff(tables, dataTable) {
        layui.use(['form', 'table'], function () {
            var $ = layui.jquery,
                table = layui.table;
            table.on(tables, function (obj) {
                var data = obj.data;
                if (obj.event === 'writeoff') {
                    layer.confirm('确定要核销吗？', function () {
                        $.ajax({
                            url: "setArStateByCode",
                            type: "post",
                            data: {"arUsecode": data.arUsecode,"memId":data.memId,"proName":data.proName},
                            dataType: "json",
                            async: false,
                            success: function (result) {
                                if (result.code == 200) { //成功
                                    table.reload(dataTable);
                                }
                                layer.msg(result.msg);
                            }
                        });
                    });
                }
            });
        });
    }
</script>
</body>
</html>