<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
    <style>
        .layui-form-item .layui-input-company {width: auto;padding-right: 10px;line-height: 38px;}
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">原密码</label>
                <div class="layui-input-block">
                    <input type="password" name="empPassword" lay-verify="required" lay-reqtext="原密码不能为空" placeholder="请输入原密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">新密码</label>
                <div class="layui-input-block">
                    <input type="password" id="newPassword" name="newPassword" lay-verify="newPassword" lay-reqtext="新密码不能为空" placeholder="请输入新密码" class="layui-input">
                    <tip>密码由字母、数字、符号中的两种以上组成，长度6-20位</tip>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" id="newempPassword" name="newempPassword" lay-reqtext="确认密码不能为空" placeholder="请输入确认密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: right">
                    <button class="layui-btn" lay-submit lay-filter="setting">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.jquery,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            newPassword: [
                /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$).{6,20}$/
                , '密码格式错误'
            ]
        });

        $("#newempPassword").blur(function(){
            var newPassword = $("#newPassword").val(),
                newempPassword = $("#newempPassword").val();
            if(newPassword != newempPassword){
                layer.msg("两次输入的密码必须相同");
            }
        });

        //监听提交
        form.on('submit(setting)', function (data) {
            $.ajax({
                url: "setPassWord", //请求接口
                dataType: "json",
                type: "post",   //请求方式
                data: {     //参数列表
                    "empPassword": data.field.empPassword,
                    "newempPassword": data.field.newempPassword
                },
                async: false,
                success: function (data) {
                    if (data.code == 200) { //修改成功
                        parent.layer.msg("修改成功",{
                            time: 1000
                        },function(){
                            parent.location.href = "login"
                        });
                    }else { //修改失败
                        parent.layer.msg("修改失败");
                    }
                }
            });
        });

    });
</script>
</body>
</html>