<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lionsource.tbs.comm.dao.CityMapper" >
  <resultMap id="BaseResultMap" type="com.lionsource.tbs.comm.model.City" >
    <id column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lionsource.tbs.comm.model.City" >
    insert into city (city_id, pro_id, city_name
      )
    values (#{cityId,jdbcType=INTEGER}, #{proId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lionsource.tbs.comm.model.City" >
    update city
    set pro_id = #{proId,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR}
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select city_id, pro_id, city_name
    from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select city_id, pro_id, city_name
    from city
  </select>
  <select id="getAllCity" resultMap="BaseResultMap" parameterType="java.lang.Integer">
     select * from city where pro_id=#{proId,jdbcType=INTEGER}
  </select>
</mapper>