<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lionsource.tbs.comm.dao.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.lionsource.tbs.comm.model.Member" >
    <id column="mem_id" property="memId" jdbcType="INTEGER" />
    <result column="ref_id" property="refId" jdbcType="INTEGER" />
    <result column="mem_openid" property="memOpenid" jdbcType="VARCHAR" />
    <result column="mem_head" property="memHead" jdbcType="VARCHAR" />
    <result column="mem_name" property="memName" jdbcType="VARCHAR" />
    <result column="mem_tel" property="memTel" jdbcType="VARCHAR" />
    <result column="mem_idcardnum" property="memIdcardnum" jdbcType="VARCHAR" />
    <result column="mem_idcardfront" property="memIdcardfront" jdbcType="VARCHAR" />
    <result column="mem_idcardreverse" property="memIdcardreverse" jdbcType="VARCHAR" />
    <result column="mem_idcardreason" property="memIdcardreason" jdbcType="VARCHAR" />
    <result column="mem_sex" property="memSex" jdbcType="INTEGER" />
    <result column="mem_call" property="memCall" jdbcType="VARCHAR" />
    <result column="mem_realnamestate" property="memRealnamestate" jdbcType="VARCHAR" />
    <result column="mem_vipstate" property="memVipstate" jdbcType="INTEGER" />
    <result column="mem_vipterm" property="memVipterm" jdbcType="DATE" />
    <result column="mem_employment" property="memEmployment" jdbcType="VARCHAR" />
    <result column="mem_workform" property="memWorkform" jdbcType="VARCHAR" />
    <result column="mem_contracttype" property="memContracttype" jdbcType="INTEGER" />
    <result column="mem_workyear" property="memWorkyear" jdbcType="INTEGER" />
    <result column="mem_agerange" property="memAgerange" jdbcType="VARCHAR" />
    <result column="mem_nativedemand" property="memNativedemand" jdbcType="VARCHAR" />
    <result column="mem_worktime" property="memWorktime" jdbcType="VARCHAR" />
    <result column="mem_servicetime" property="memServicetime" jdbcType="INTEGER" />
    <result column="mem_expectpay" property="memExpectpay" jdbcType="INTEGER" />
    <result column="mem_otherdemand" property="memOtherdemand" jdbcType="VARCHAR" />
    <result column="mem_createtime" property="memCreatetime" jdbcType="TIMESTAMP" />
    <result column="mem_state" property="memState" jdbcType="INTEGER" />
    <result column="mem_nickname" property="memNickname" jdbcType="LONGVARCHAR" />
    <result column="mem_stewardtype" property="memStewardtype" jdbcType="LONGVARCHAR" />
    <result column="mem_skilldemand" property="memSkilldemand" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member
    where mem_id = #{memId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lionsource.tbs.comm.model.Member" >
    insert into member (mem_id, ref_id, mem_openid, 
      mem_head, mem_name, mem_tel, 
      mem_idcardnum, mem_idcardfront, mem_idcardreverse, 
      mem_idcardreason, mem_sex, mem_call, 
      mem_realnamestate, mem_vipstate, mem_vipterm, 
      mem_employment, mem_workform, mem_contracttype, 
      mem_workyear, mem_agerange, mem_nativedemand, 
      mem_worktime, mem_servicetime, mem_expectpay, 
      mem_otherdemand, mem_createtime, mem_state, 
      mem_nickname, mem_stewardtype, mem_skilldemand
      )
    values (#{memId,jdbcType=INTEGER}, #{refId,jdbcType=INTEGER}, #{memOpenid,jdbcType=VARCHAR}, 
      #{memHead,jdbcType=VARCHAR}, #{memName,jdbcType=VARCHAR}, #{memTel,jdbcType=VARCHAR}, 
      #{memIdcardnum,jdbcType=VARCHAR}, #{memIdcardfront,jdbcType=VARCHAR}, #{memIdcardreverse,jdbcType=VARCHAR}, 
      #{memIdcardreason,jdbcType=VARCHAR}, #{memSex,jdbcType=INTEGER}, #{memCall,jdbcType=VARCHAR}, 
      #{memRealnamestate,jdbcType=VARCHAR}, #{memVipstate,jdbcType=INTEGER}, #{memVipterm,jdbcType=DATE}, 
      #{memEmployment,jdbcType=VARCHAR}, #{memWorkform,jdbcType=VARCHAR}, #{memContracttype,jdbcType=INTEGER}, 
      #{memWorkyear,jdbcType=INTEGER}, #{memAgerange,jdbcType=VARCHAR}, #{memNativedemand,jdbcType=VARCHAR}, 
      #{memWorktime,jdbcType=VARCHAR}, #{memServicetime,jdbcType=INTEGER}, #{memExpectpay,jdbcType=INTEGER}, 
      #{memOtherdemand,jdbcType=VARCHAR}, #{memCreatetime,jdbcType=TIMESTAMP}, #{memState,jdbcType=INTEGER}, 
      #{memNickname,jdbcType=LONGVARCHAR}, #{memStewardtype,jdbcType=LONGVARCHAR}, #{memSkilldemand,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lionsource.tbs.comm.model.Member" >
    update member
    set ref_id = #{refId,jdbcType=INTEGER},
      mem_openid = #{memOpenid,jdbcType=VARCHAR},
      mem_head = #{memHead,jdbcType=VARCHAR},
      mem_name = #{memName,jdbcType=VARCHAR},
      mem_tel = #{memTel,jdbcType=VARCHAR},
      mem_idcardnum = #{memIdcardnum,jdbcType=VARCHAR},
      mem_idcardfront = #{memIdcardfront,jdbcType=VARCHAR},
      mem_idcardreverse = #{memIdcardreverse,jdbcType=VARCHAR},
      mem_idcardreason = #{memIdcardreason,jdbcType=VARCHAR},
      mem_sex = #{memSex,jdbcType=INTEGER},
      mem_call = #{memCall,jdbcType=VARCHAR},
      mem_realnamestate = #{memRealnamestate,jdbcType=VARCHAR},
      mem_vipstate = #{memVipstate,jdbcType=INTEGER},
      mem_vipterm = #{memVipterm,jdbcType=DATE},
      mem_employment = #{memEmployment,jdbcType=VARCHAR},
      mem_workform = #{memWorkform,jdbcType=VARCHAR},
      mem_contracttype = #{memContracttype,jdbcType=INTEGER},
      mem_workyear = #{memWorkyear,jdbcType=INTEGER},
      mem_agerange = #{memAgerange,jdbcType=VARCHAR},
      mem_nativedemand = #{memNativedemand,jdbcType=VARCHAR},
      mem_worktime = #{memWorktime,jdbcType=VARCHAR},
      mem_servicetime = #{memServicetime,jdbcType=INTEGER},
      mem_expectpay = #{memExpectpay,jdbcType=INTEGER},
      mem_otherdemand = #{memOtherdemand,jdbcType=VARCHAR},
      mem_createtime = #{memCreatetime,jdbcType=TIMESTAMP},
      mem_state = #{memState,jdbcType=INTEGER},
      mem_nickname = #{memNickname,jdbcType=LONGVARCHAR},
      mem_stewardtype = #{memStewardtype,jdbcType=LONGVARCHAR},
      mem_skilldemand = #{memSkilldemand,jdbcType=VARCHAR}
    where mem_id = #{memId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select mem_id, ref_id, mem_openid, mem_head, mem_name, mem_tel, mem_idcardnum, mem_idcardfront, 
    mem_idcardreverse, mem_idcardreason, mem_sex, mem_call, mem_realnamestate, mem_vipstate, 
    mem_vipterm, mem_employment, mem_workform, mem_contracttype, mem_workyear, mem_agerange, 
    mem_nativedemand, mem_worktime, mem_servicetime, mem_expectpay, mem_otherdemand, 
    mem_createtime, mem_state, mem_nickname, mem_stewardtype, mem_skilldemand
    from member
    where mem_id = #{memId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select mem_id, ref_id, mem_openid, mem_head, mem_name, mem_tel, mem_idcardnum, mem_idcardfront, 
    mem_idcardreverse, mem_idcardreason, mem_sex, mem_call, mem_realnamestate, mem_vipstate, 
    mem_vipterm, mem_employment, mem_workform, mem_contracttype, mem_workyear, mem_agerange, 
    mem_nativedemand, mem_worktime, mem_servicetime, mem_expectpay, mem_otherdemand, 
    mem_createtime, mem_state, mem_nickname, mem_stewardtype, mem_skilldemand
    from member
  </select>
  <!--根据管家类型编号查询会员-->
  <select id="selectAllByStId" resultMap="BaseResultMap" >
    select mem_id, ref_id, mem_openid, mem_head, mem_name, mem_tel, mem_idcardnum, mem_idcardfront,
    mem_idcardreverse, mem_idcardreason, mem_sex, mem_call, mem_realnamestate, mem_vipstate,
    mem_vipterm, mem_employment, mem_workform, mem_contracttype, mem_workyear, mem_agerange,
    mem_nativedemand, mem_worktime, mem_servicetime, mem_expectpay, mem_otherdemand,
    mem_createtime, mem_state, mem_nickname, mem_stewardtype, mem_skilldemand
    from member where mem_stewardtype like '%${stId}%'
  </select>
  <!--根据技能编号查询会员-->
  <select id="selectAllBySkillId" resultMap="BaseResultMap" >
    select mem_id, ref_id, mem_openid, mem_head, mem_name, mem_tel, mem_idcardnum, mem_idcardfront,
    mem_idcardreverse, mem_idcardreason, mem_sex, mem_call, mem_realnamestate, mem_vipstate,
    mem_vipterm, mem_employment, mem_workform, mem_contracttype, mem_workyear, mem_agerange,
    mem_nativedemand, mem_worktime, mem_servicetime, mem_expectpay, mem_otherdemand,
    mem_createtime, mem_state, mem_nickname, mem_stewardtype, mem_skilldemand
    from member where mem_skilldemand like '%${skillId}%'
  </select>
  <!--根据用户的用户名和手机号码进行登录-->
  <select id="getMemnameTel" resultMap="BaseResultMap" parameterType="com.lionsource.tbs.comm.model.Member">
    select * from member where mem_name = #{memName,jdbcType=VARCHAR} and mem_tel = #{memTel,jdbcType=VARCHAR}
  </select>
  <!--根据手机号码进行登录-->
  <select id="getMemtel" resultMap="BaseResultMap" parameterType="com.lionsource.tbs.comm.model.Member">
    select * from member where mem_tel = #{memTel,jdbcType=VARCHAR}
  </select>
  <!--根据电话号码查询用户姓名-->
  <select id="getMemname" resultType="String" parameterType="com.lionsource.tbs.comm.model.Member">
    select mem_name from member where mem_tel = #{memTel,jdbcType=VARCHAR},
  </select>
  <!--判断手机号码是否存在-->
  <select id="getAllMemnameTel" resultMap="BaseResultMap">
    select * from member where  mem_tel=#{ mem_tel}
  </select>
</mapper>