<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lionsource.tbs.comm.dao.StewardtypeMapper" >
  <resultMap id="BaseResultMap" type="com.lionsource.tbs.comm.model.Stewardtype" >
    <id column="st_id" property="stId" jdbcType="INTEGER" />
    <result column="st_icon" property="stIcon" jdbcType="VARCHAR" />
    <result column="st_name" property="stName" jdbcType="VARCHAR" />
    <result column="st_state" property="stState" jdbcType="INTEGER" />
    <result column="st_createtime" property="stCreatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stewardtype
    where st_id = #{stId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lionsource.tbs.comm.model.Stewardtype" >
    insert into stewardtype (st_id, st_icon, st_name, 
      st_state, st_createtime)
    values (#{stId,jdbcType=INTEGER}, #{stIcon,jdbcType=VARCHAR}, #{stName,jdbcType=VARCHAR}, 
      1, now())
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lionsource.tbs.comm.model.Stewardtype" >
    update stewardtype
    set st_icon = #{stIcon,jdbcType=VARCHAR},
      st_name = #{stName,jdbcType=VARCHAR},
      st_state = #{stState,jdbcType=INTEGER},
      st_createtime = #{stCreatetime,jdbcType=TIMESTAMP}
    where st_id = #{stId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select st_id, st_icon, st_name, st_state, st_createtime
    from stewardtype
    where st_id = #{stId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select st_id, st_icon, st_name, st_state, st_createtime
    from stewardtype
  </select>
  <!--修改管家类型状态-->
  <update id="updateState" parameterType="com.lionsource.tbs.comm.model.Stewardtype" >
    update stewardtype
    set
      st_state = #{stState}
    where st_id = #{stId}
  </update>
  <!--根据名称查询管家类型-->
  <select id="selectByStName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select st_id, st_icon, st_name, st_state, st_createtime
    from stewardtype
    where st_name = #{stName}
  </select>
  <!---->
  <select id="selectWardType" resultType="string" parameterType="int">
    select st_name from stewardtype where st_id = #{st_id}
  </select>
</mapper>