<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>及时管家管理平台修改我的名片</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link th:href="@{/static/css/common.css}" rel="stylesheet" />
    <link th:href="@{/static/css/register.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/static/script/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
    <script th:src="@{/static/js/jquery-1.12.4.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/sweetalert.css}">
    <link rel="stylesheet" th:href="@{/static/css/j-forms.css}">
    <script th:src="@{/static/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/updatePers.css}" >
    <link rel="stylesheet" th:href="@{/static/css/updatePersonage.css}" />
    <link th:href="@{static/css/sweetalert.css}" rel="stylesheet" />
    <script th:src="@{static/js/sweetalert.min.js}"></script>
    <script th:src="@{static/js/sweetalert-dev.js}"></script>
    <link th:href="@{/static/css/mc.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/static/css/user_center.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/jquery-1.8.3.min.js}"></script>
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/static/js/updatePersonage.js}"></script>
    <style>
        .fileInputContainer{
            height:100px;
            background:url(static/images/add.png) no-repeat;
            background-size:100px 80px;
            position:relative;
            width: 120px;
        }
        .fileInput{
            height:100px;
            overflow: hidden;
            position:absolute;
            right:0;
            top:0;
            opacity: 0;
            filter:alpha(opacity=0);
            cursor:pointer;
        }

    </style>
</head>
<body>
<div class="p-header">
    <div class="topCon">
        <div class="wrap">
        </div>
    </div>
    <div class="menuBox">
        <div class="wrap">
            <ul>
                <li class="on">
                    <a href="three.html">网站首页</a>
                </li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=700#maodian">家庭服务</a></li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=737#maodian">商业保洁</a></li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=698#maodian">管家风采</a></li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=699#maodian">及时百科</a></li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=702#maodian">服务项目</a></li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=697#maodian">关于我们</a></li>
                <li><a href="register.html">从业者申请</a></li>
                <li style="margin-top: 10px;">
                    <div class="wrap cl">
                        <div class="t-right">
                            <ul class="cl">
                                <li class="user-list">
                                    <div class="top-user">
                                        <a href=""><img th:src="@{/static/images/user.png}" style="width: 50px;height: 50px;"><span th:text="${session.ste_name}" style="font-size: 25px;"></span><i class="fa fa-caret-down"></i></a></div>
                                    <div class="pop-dwon">
                                        <a href="getSelectAllz"><i class="fa fa-user-circle"></i>我的名片</a>
                                        <a href=""><i class="fa fa-user-o"></i>个人主页</a>
                                        <a href=""><i class="fa fa-commenting-o"></i>我的消息</a>
                                        <a href=""><i class="fa fa-heart-o"></i>我的关注</a>
                                        <a href=""><i class="fa fa-image"></i>我的作品</a>
                                        <a href=" "><i class="fa fa-power-off"></i>退出登录</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var setTime;
        $(".user-list").hover(function () {
            var _this = $(this);
            setTime = setTimeout(function () {
                _this.addClass("hover");
                $(".top-user i").removeClass("fa-caret-down").addClass("fa-caret-up");
                $(".user-list .pop-dwon").slideDown(300);
            }, 300);
        }, function () {
            var _this = $(this);
            if (setTime) {
                clearTimeout(setTime);
            }
            $(".user-list .pop-dwon").hide();
            _this.removeClass("hover");
            $(".top-user i").removeClass("fa-caret-up").addClass("fa-caret-down");
        });
    });
</script>
<div class="centers_m">
    <!--left-->
    <div class="centers_ml">
        <!--头像-->
        <div class="center_header">
            <a href=""><img th:src="@{/static/images/zwtp.jpg}"></a>
            <div class="u-name">您好，<span th:text="${session.ste_name}"></span></div>
        </div>
        <div class="centers_listm">
            <!--分类开始-->
            <div class="listbox">
                <div class="centers_listm_one_in"><i class="fa fa-photo"></i><span>我的服务</span><b></b></div>
                <div class="gjszmdm">
                    <a href="updatePersonage" class="center_in_self"><span><img th:src="@{/static/images/sfz.png}" style="width: 20px;height: 20px;">修改我的名片</span></a>
                    <a href="" class="center_in_self"><span><img th:src="@{/static/images/sfz.png}" style="width: 20px;height: 20px;">申请实名</span></a>
                    <a href="" class="center_in_self"><span><img th:src="@{/static/images/szzs.png}" style="width: 20px;height: 20px;">上传证书</span></a>
                    <a href="" class="center_in_self"><span><img th:src="@{/static/images/xq.png}" style="width: 20px;height: 20px;">用工需求</span></a>
                    <a href="" class="center_in_self"><span><img th:src="@{/static/images/zsck.png}" style="width: 20px;height: 20px;">证书查看</span></a>
                    <a href="" class="center_in_self"><span><img th:src="@{/static/images/bzzx.png}" style="width: 20px;height: 20px;">帮助中心</span></a>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" th:value="${show}" class="show1">
    <!--right-->
    <div class="centers_mr" style="background-color: #F1F1F1;">
        <div class="centers_r_items" th:each="allSte:${allSteName}">
            <div class="items-tit">
                <a class="tit-name active">我的名片</a>
                <div class="wrap" style="background-color: #F1F1F1;">
                    <div class="tdbModule register" style="background-color: #F1F1F1;">
                        <div style="margin:auto;width:700px;background-color: white;border-radius: 25px;">
                            <div align="center">
                                <table style="text-align: center;line-height: 30px;">
                                    <tr>
                                        <td rowspan="3" align="center">
                                            <div class="fileInputContainer">
                                                <input class="fileInput" type="file" name="" id="" />
                                            </div>
                                        </td>
                                        <td>
                                            <b><span th:text="${allSte.steName}" style="font-size: 30px;"></span></b>
                                             <span th:if="${allSte.steContracttype} eq '1'" class="btn btn-info">个人管家</span>
                                                <span th:if="${allSte.steContracttype} eq '2'" class="btn btn-warning">签约管家</span>                                            <a>
                                                <span th:if="${allSte.steRealnamestate eq '未实名'}" class="btn btn-info">去实名</span>
                                                <span th:if="${allSte.steRealnamestate eq '已实名'}" class="btn btn-success">已实名</span>
                                            </a>

                                        </td>
                                    <tr>
                                        <td>
                                            <span th:text="${allSte.steAddress}"/>  | <span th:text="${allSte.steAge}"/>岁 | 工作经验
                                            <span th:text="${allSte.steWorkyear}"/>年
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="btn btn-success">正在求职</span></td>
                                        <td colspan="2" style="right: auto;"><a href="updatePersonage" style="font-size: 20px;">修改></a></td>
                                    </tr>
                                    <tr>
                                        <td>服务7户|评价1条</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" id="workType">
                                            <span hidden class="steWorktype" th:text="${allSte.steWorktype}"/>
                                        </td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td>服务态度：</td>
                                        <td>★ ★ ★ ★ ★  0分</td>
                                    </tr>
                                    <tr>
                                        <td>专业技能：</td>
                                        <td>★ ★ ★ ★ ★  0分</td>
                                    </tr>
                                    <tr>
                                        <td>职业素养：</td>
                                        <td>★ ★ ★ ★ ★  0分</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <hr />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>工作形式</b><br />
                                            住家、白班、钟点工
                                        </td>
                                        <td colspan="2">
                                            <a href="updatePersonage" style="font-size: 20px;text-align: right;">修改></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>个人标签</b><br />
                                            <span class="btn btn-success">擅长面食</span>
                                            <span class="btn btn-success">擅长面食</span>
                                            <span class="btn btn-success">擅长面食</span>
                                        </td>
                                        <td colspan="2">
                                            <a href="" style="font-size: 20px;text-align: right;">修改></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>证书</b><br />
                                            <img th:src="@{/static/images/add.png}" width="150px;" height="100px;"/><img th:src="@{/static/images/add.png}" width="150px;" height="100px;"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>个人介绍</b><br />
                                            我是一个勤劳善良，为人正直的好管家~
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>常驻地址</b><br />
                                            我是一个勤劳善良，为人正直的好管家~
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" rowspan="3" class="tagName" style="border-spacing: 20px;">
                                            <span class="tag" hidden  th:text="${steward.steTag}"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfiexd"></div>
</div>
<div class="p-footer">
    <div class="content1">
        <div class="wrap">
            <div class="fItem1">
                <a href="http://www.jishiguanjia.com/index.php" class="logo">
                    <img th:src="@{/static/images/p-header-logo.png}" alt="">
                </a>
                <div class="ewm">
                    <img th:src="@{/static/images/ewm.jpg}" alt="">
                    <span>微信公众号</span>
                </div>
                <div class="des" style="margin-top: 15px;">
                    <p style="font-size: 14px;color: #333;line-height: 24px;">及时管家是属于<br>湖南品质生活服务有限公司旗下商标</p>
                </div>
            </div>
            <div class="fItem2">
                <h3>联系我们</h3>
                <div>
                    <p>公司地址：湖南省长沙市岳麓区麓谷科技产业园A3栋七楼</p>
                    <p>客服电话：400-6186-889</p>
                    <p>官方微信公众号：jishiguanjia</p>
                </div>
                <div>
                    <span>业务合作</span>
                    <p>联系人：汤先生</p>
                    <p>电话：15675831721</p>
                </div>
                <div>
                    <span>新媒体及宣传合作</span>
                    <p>联系人：钟先生</p>
                    <p>电话：15084888427</p>
                </div>
                <div>
                    <span>家政服务合作</span>
                    <p>联系人：成女士</p>
                    <p>电话：0731-89712116</p>
                </div>
                <div>
                    <span>产品及渠道合作</span>
                    <p>联系人：钟先生</p>
                    <p>电话：15084888427</p>
                </div>
            </div>
            <div class="fItem3">
                <dl>
                    <dt>关于我们</dt>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=705#maodian">公司简介</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=740#maodian">企业愿景</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=704#maodian">发展历程</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=706#maodian">企业文化</a>
                    </dd>

                </dl>
                <dl>
                    <dt>家庭服务</dt>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=718#maodian">清洁管家服务</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=719#maodian">日常清洁护理</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=720#maodian">清洗服务</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=721#maodian">生活管家</a>
                    </dd>
                </dl>
                <dl>
                    <dt>生活百科</dt>
                    <dd>
                    </dd><dd>
                    <a href="http://www.jishiguanjia.com/list.php?typeid=708#maodian">保洁</a>
                </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=709#maodian">保姆</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=711#maodian">家具护理</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=712#maodian">家政</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=714#maodian">生活贴士</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=715#maodian">新式家政</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=717#maodian">育儿百科</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="content2">
        <div class="wrap">
            <p>@copyright  湖南品质生活服务有限公司　<a href="http://www.beian.miit.gov.cn/" target="_blank">湘ICP备17010467号-1</a></p>
        </div>
    </div>
</div>
</body>
</html>