<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>及时管家服务平台</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link th:href="@{/static/css/common.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link th:href="@{/static/css/register.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/jquery-1.12.4.js}"></script>
    <link th:href="@{/static/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/sweetalert.css}" rel="stylesheet" />
    <script th:src="@{/static/js/sweetalert.min.js}"></script>
    <script th:src="@{/static/js/sweetalert-dev.js}"></script>
    <script th:src="@{/static/js/personalHomepage.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .fw>button{
            margin: 20px;
        }
        .fw>button>img{
            width:50px;
            height:50px;
        }
    </style>
</head>
<body>
<header>
    <div class="p-header" th:each="steward:${steward}">
        <div class="topCon">
            <div class="wrap">
            </div>
        </div>
        <div class="menuBox">
            <div class="wrap">
                <ul>
                    <li class="on">
                        <a href="../homePage">网站首页</a>
                    </li>
                    <li><a href="http://www.jishiguanjia.com/list.php?typeid=700#maodian">家庭服务</a></li>
                    <li><a href="http://www.jishiguanjia.com/list.php?typeid=737#maodian">商业保洁</a></li>
                    <li><a href="http://www.jishiguanjia.com/list.php?typeid=698#maodian">管家风采</a></li>
                    <li><a href="http://www.jishiguanjia.com/list.php?typeid=699#maodian">及时百科</a></li>
                    <li><a href="http://www.jishiguanjia.com/list.php?typeid=702#maodian">服务项目</a></li>
                    <li><a href="http://www.jishiguanjia.com/list.php?typeid=697#maodian">关于我们</a></li>
                    <li><a href="getSelectAllz">我的名片</a></li>
                    <li><a href="sessionInvalidate"><span th:text="${steward.steName}" class="msg"/></span>退出系统</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="wrap" style="background-color: #F1F1F1;">
    <h2><  个人主页</h2>
    <div class="tdbModule register" style="background-color: #F1F1F1;">
        <div style="margin:auto;width:700px;background-color: white;border-radius: 25px;">
            <div align="center">
                <table style="text-align: center;">
                    <tr>
                        <td><h2><span th:text="${steward.steName}"></span></h2></td>
                        <td colspan="2">
                            <span class="btn btn-info"><span th:text="${steward.steRealnamestate}"/></span></span>
                            <span th:if="${steward.steCerstate eq '无'}" class="btn btn-info">无证书</span>
                            <span th:if="${steward.steCerstate eq '有'}" class="btn btn-warning">有证书</span>
                            <span th:if="${steward.steContracttype} eq '1'" class="btn btn-info">个人管家</span>
                            <span th:if="${steward.steContracttype} eq '2'" class="btn btn-warning">签约管家</span><br />
                            <span th:text="${steward.steAddress}"/>  | <span th:text="${steward.steAge}"/>岁 | 工作经验
                            <span th:text="${steward.steWorkyear}"/>年
                        </td>
                        <td rowspan="7">
                            <img th:if="${#strings.isEmpty(steward.steChead)} " th:src="@{/static/images/zwtp.jpg}" width="150px;">
                            <!--<img th:if="${not #strings.isEmpty(steward.steChead)} " th:src="@{/static/images/lxw.jpg}" />-->
                            <br />
                            <span th:if="${steward.steState} eq '0'" class="btn btn-info">暂不找工作</span>
                            <span th:if="${steward.steState} eq '1'" class="btn btn-warning">正在找工作</span>
                        </td>
                    </tr>
                    <tr>
                        <td>服务态度：</td>
                        <td>★ ★ ★ ★ ★  0分</td>
                    </tr>
                    <tr>
                        <td>专业技能：</td>
                        <td>★ ★ ★ ★ ★  0分</td>
                    </tr>
                    <tr>
                        <td>职业素养：</td>
                        <td>★ ★ ★ ★ ★  0分</td>
                    </tr>
                    <tr>
                        <td>服务7户  |  评价1条</td>
                    </tr>
                    <tr>
                        <td colspan="2" rowspan="3" class="tagName" style="border-spacing: 20px;">
                            <span class="tag" hidden  th:text="${steward.steTag}"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="registerTitle">我的雇主</span></div>
        <div th:if="${EmpId} eq '0'" style="margin:auto;width:700px;background-color: white;border-radius: 25px;">
           <h3 th:align="center">暂无雇主</h3>
        </div>
        <div th:if="${EmpId} eq '1'" style="margin:auto;width:700px;background-color: white;border-radius: 25px;">
            <div align="center">
                <table style="text-align: center;" align="center">
                    <tr>
                        <td rowspan="3" >
                            <img th:src="@{/static/images/zwtp.jpg}" style="width: 80px;height: 120px;"/>
                        </td>&nbsp;
                        <td>
                            <b>李先生</b>
                            <span class="btn btn-warning">VIP会员</span>
                            <span class="btn btn-warning">已实名</span>
                        </td>
                    </tr>&nbsp;
                    <tr>
                        <td>
                            地址：湖南省长沙市开福区五一大厦2栋2单元3305
                        </td>
                    </tr>
                    <tr>
                        <td>
                            开始服务日期：2019-09-30
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="registerTitle">我的服务</span></div>
        <div style="margin:auto;width:700px;background-color: white;border-radius: 25px;">
            <div align="center" class="fw">
                <button><img th:src="@{/static/images/sfz.png}"><br />申请实名</button>
                <button><img th:src="@{/static/images/szzs.png}"><br />上传证书</button>
                <button><img th:src="@{/static/images/xq.png}"><br />用工需求</button>
                <button><img th:src="@{/static/images/zsck.png}"><br />证书查看</button>
                <button><img th:src="@{/static/images/bzzx.png}"><br />帮助中心</button>
            </div>
        </div>
    </div>
</div>
<div class="p-footer">
    <div class="content1">
        <div class="wrap">
            <div class="fItem1">
                <a href="http://www.jishiguanjia.com/index.php" class="logo">
                    <img th:src="@{/static/images/p-header-logo.png}" alt="">
                </a>
                <div class="ewm">
                    <img th:src="@{/static/images/ewm.jpg}" alt="">
                    <span>微信公众号</span>
                </div>
                <div class="des" style="margin-top: 15px;">
                    <p style="font-size: 14px;color: #333;line-height: 24px;">及时管家是属于<br>湖南品质生活服务有限公司旗下商标</p>
                </div>
            </div>
            <div class="fItem2">
                <h3>联系我们</h3>
                <div>
                    <p>公司地址：湖南省长沙市岳麓区麓谷科技产业园A3栋七楼</p>
                    <p>客服电话：400-6186-889</p>
                    <p>官方微信公众号：jishiguanjia</p>
                </div>
                <div>
                    <span>业务合作</span>
                    <p>联系人：汤先生</p>
                    <p>电话：15675831721</p>
                </div>
                <div>
                    <span>新媒体及宣传合作</span>
                    <p>联系人：钟先生</p>
                    <p>电话：15084888427</p>
                </div>
                <div>
                    <span>家政服务合作</span>
                    <p>联系人：成女士</p>
                    <p>电话：0731-89712116</p>
                </div>
                <div>
                    <span>产品及渠道合作</span>
                    <p>联系人：钟先生</p>
                    <p>电话：15084888427</p>
                </div>
            </div>
            <div class="fItem3">
                <dl>
                    <dt>关于我们</dt>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=705#maodian">公司简介</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=740#maodian">企业愿景</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=704#maodian">发展历程</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=706#maodian">企业文化</a>
                    </dd>

                </dl>
                <dl>
                    <dt>家庭服务</dt>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=718#maodian">清洁管家服务</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=719#maodian">日常清洁护理</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=720#maodian">清洗服务</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=721#maodian">生活管家</a>
                    </dd>
                </dl>
                <dl>
                    <dt>生活百科</dt>
                    <dd>
                    </dd><dd>
                    <a href="http://www.jishiguanjia.com/list.php?typeid=708#maodian">保洁</a>
                </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=709#maodian">保姆</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=711#maodian">家具护理</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=712#maodian">家政</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=714#maodian">生活贴士</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=715#maodian">新式家政</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=717#maodian">育儿百科</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="content2">
        <div class="wrap">
            <p>@copyright  湖南品质生活服务有限公司　<a href="http://www.beian.miit.gov.cn/" target="_blank">湘ICP备17010467号-1</a></p>
        </div>
    </div>
</div>

</body>
</html>
