<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>及时管家管理平台修改我的名片</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link th:href="@{/static/css/common.css}" rel="stylesheet" />
    <link th:href="@{/static/css/register.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/static/script/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/updatePersonage.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
    <script th:src="@{/static/js/jquery-1.12.4.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/sweetalert.css}">
    <link rel="stylesheet" th:href="@{/static/css/j-forms.css}">
    <script src="static/js/jquery.js"></script>
    <link rel="stylesheet" th:href="@{/static/css/updatePers.css}" >
    <link rel="stylesheet" th:href="@{/static/css/updatePersonage.css}" />
    <link th:href="@{static/css/sweetalert.css}" rel="stylesheet" />
    <script th:src="@{static/js/sweetalert.min.js}"></script>
    <script th:src="@{static/js/sweetalert-dev.js}"></script>
    <style>
        .col-xs-5 >span{
            /*line-height: 10px;*/
            width:120px;
        }
        .col-xs-5{
            width: 500px;
        }
        .span{
            font-size: 25px;
            color: #C6C6C6;
        }
        .col-xs-5>select{
            width:100px;
            height: 30px;
        }
    </style>
</head>
<body>
<!-- 网站公共头部区域 -->
<div class="p-header">
    <div class="topCon">
        <div class="wrap" >
            <h1>
                <a href="http://www.jishiguanjia.com/index.php">
                    <img src="static/images/p-header-logo.png" alt="">
                </a>
            </h1>
            <div class="search">
                <form action="" method="post">
                    <input type="text" class="keyword" placeholder="请输入关键字" name="keywords">
                </form>
            </div>
            <div class="h-icon">
                <div class="icon">
                    <img src="static/images/p-header-icon01.png" alt="">
                    <span>专业管家</span>
                </div>
                <div class="icon">
                    <img src="static/images/p-header-icon02.png" alt="">
                    <span>六重安全</span>
                </div>
                <div class="icon">
                    <img src="static/images/p-header-icon03.png" alt="">
                    <span>免费更换</span>
                </div>
            </div>
            <div class="tel">
                <p><span>24小时服务热线：</span>400-6186-889</p>
            </div>
        </div>
    </div>
    <div class="menuBox heds">
        <div class="wrap hed2">
            <ul>
                <li class="on">
                    <a href="three.html">网站首页</a>
                </li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=700#maodian">家庭服务</a></li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=737#maodian">商业保洁</a></li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=698#maodian">管家风采</a></li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=699#maodian">及时百科</a></li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=702#maodian">服务项目</a></li>
                <li><a href="http://www.jishiguanjia.com/list.php?typeid=697#maodian">关于我们</a></li>
                <li><a href="sessionInvalidate"><span th:text="${session.ste_name}" class="msg"/></span>退出系统</a></li>
            </ul>
        </div>
    </div>
</div>
<div  class="wrap" th:each="allSte:${allSteName}" style="background-color: red">
    <div class="tdbModule register">
        <div class="registerTitle">修改我的名片</div>
        <div class="container-fluid" >
            <form>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right" style="color: #C6C6C6;">服务类目</h4>
                    </div>
                    <div class="col-xs-5" id="workType">
                        <span hidden class="steWorktype" th:text="${allSte.steWorktype}"/>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right">工作形式<span style="color: #C6C6C6;">(可修改)</span></h4>
                    </div>
                    <div class="col-xs-5 " th:if="${allSte.steWorkform eq null} ">
                        <span class="btn btn-type">住家</span>
                        <span class="btn btn-type">钟点工</span>
                        <span class="btn btn-type">白班</span>
                    </div>
                    <div class="col-xs-5 " id="steWorkform" th:if="${allSte.steWorkform ne null} ">
                        <span hidden class="steWorkform" th:text="${allSte.steWorkform}">
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right">工作状态<span style="color: #C6C6C6;">(可修改)</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <span class="btn btn-warning">雇佣中</span>
                        <span class="btn btn-warning">正在求职</span>
                        <span class="btn btn-warning">暂不工作</span>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right"><span class="span">姓名</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <h5><span class="span steName" th:text="${allSte.steName}"></span></h5>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right"><span class="span">电话号码</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <h5><span class="span" th:text="${allSte.steTel}"></span></h5>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right"><span class="span">年龄</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <h5><span class="span" th:text="${allSte.steAge}"></span></h5>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right"><span class="span">从业年限</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <h5><span class="span" th:text="${allSte.steWorkyear}"></span></h5>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right"><span class="span" th:text="${allSte.steNative}"></span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <h5><span class="span" th:text="${allSte.steAddress}"></span></h5>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right"><span class="span">性别</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <h5>
                            <span class="span" th:if="${allSte.steSex eq 2}">女</span>
                            <span class="span" th:if="${allSte.steSex eq 1}">男</span>
                        </h5>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right"><span class="span">推荐人</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <h5>
                            <span  class="span" th:if="${allSte.refId} eq null" >无</span>
                            <span hidden class="span" th:if="${allSte.refId} ne null" id="refId"></span>
                            <span class="refName"></span>
                        </h5>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right" style="font-size: 25px;">个人介绍<span class="span">(可修改)</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <h5><span class="span">我是一个<span th:text="${allSte.steDescribe}" name="steDescribe"></span>的好管家</span></h5>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right"><span class="span">常驻地址</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <h5><span class="span" th:text="${allSte.steAddress}" name="steAddress"></span></h5>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right" style="font-size: 25px;">个人特点<span class="span">(可修改)</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <span class="btn btn-type">住家</span>
                        <span class="btn btn-type">钟点工</span>
                        <span class="btn btn-type">白班</span>
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right" style="font-size: 25px;">期望薪资<span class="span">(可修改)</span></h4>
                    </div>
                    <div class="col-xs-5 ">
                        <img src="static/img/jian.jpg" class="minus" style="width: 40px;height: 40px;">&nbsp;&nbsp;<input th:value="${allSte.steExpsalary}" name="money" style="font-size: 25px; width: 100px; height:35px;text-align: center" class="money">元&nbsp;&nbsp;<img src="static/img/jia.jpg" class="add" style="width: 40px;height: 40px;">
                    </div>
                </div>
                <div class="row col-xs-10 col-xs-offset-1 os">
                    <div class="col-xs-3 col-xs-offset-1">
                        <h4 class="text-muted text-right">服务范围</h4>
                    </div>
                    <div class="col-xs-5 ">
                        <select>
                            <option>湖南省</option>
                        </select>
                        <select>
                            <option>不限</option>
                        </select>
                    </div>
                </div>
                <div align="center">
                    <input type="button" class="btn btn-warning bot" value="提交修改" style="font-size: 20px;width:200px;"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="p-footer">
    <div class="content1">
        <div class="wrap">
            <div class="fItem1">
                <a href="http://www.jishiguanjia.com/index.php" class="logo">
                    <img src="static/images/p-header-logo.png" alt="">
                </a>
                <div class="ewm">
                    <img src="static/images/ewm.jpg" alt="">
                    <span>微信公众号</span>
                </div>
                <div class="des" style="margin-top: 15px;">
                    <p style="font-size: 14px;color: #333;line-height: 24px;">及时管家是属于<br>湖南品质生活服务有限公司旗下商标</p>
                </div>
            </div>
            <div class="fItem2">
                <h3>联系我们</h3>
                <div>
                    <p>公司地址：湖南省长沙市岳麓区麓谷科技产业园A3栋七楼</p>
                    <p>客服电话：400-6186-889</p>
                    <p>官方微信公众号：jishiguanjia</p>
                </div>
                <div>
                    <span>业务合作</span>
                    <p>联系人：汤先生</p>
                    <p>电话：15675831721</p>
                </div>
                <div>
                    <span>新媒体及宣传合作</span>
                    <p>联系人：钟先生</p>
                    <p>电话：15084888427</p>
                </div>
                <div>
                    <span>家政服务合作</span>
                    <p>联系人：成女士</p>
                    <p>电话：0731-89712116</p>
                </div>
                <div>
                    <span>产品及渠道合作</span>
                    <p>联系人：钟先生</p>
                    <p>电话：15084888427</p>
                </div>
            </div>
            <div class="fItem3">
                <dl>
                    <dt>关于我们</dt>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=705#maodian">公司简介</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=740#maodian">企业愿景</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=704#maodian">发展历程</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=706#maodian">企业文化</a>
                    </dd>

                </dl>
                <dl>
                    <dt>家庭服务</dt>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=718#maodian">清洁管家服务</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=719#maodian">日常清洁护理</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=720#maodian">清洗服务</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=721#maodian">生活管家</a>
                    </dd>
                </dl>
                <dl>
                    <dt>生活百科</dt>
                    <dd>
                    </dd><dd>
                    <a href="http://www.jishiguanjia.com/list.php?typeid=708#maodian">保洁</a>
                </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=709#maodian">保姆</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=711#maodian">家具护理</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=712#maodian">家政</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=714#maodian">生活贴士</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=715#maodian">新式家政</a>
                    </dd>
                    <dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=717#maodian">育儿百科</a>
                    </dd>

                </dl>
            </div>
        </div>
    </div>
    <div class="content2">
        <div class="wrap">
            <p>@copyright  湖南品质生活服务有限公司　<a href="http://www.beian.miit.gov.cn/" target="_blank">湘ICP备17010467号-1</a></p>
        </div>
    </div>
</div>
<script type="text/javascript"  src="static/yuyueguanjia/js/jquery-3.3.1.js"></script>
<script type="text/javascript"  src="static/yuyueguanjia/js/bootstrap.min.js"></script>

</body>
</html>
