<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管家详情</title>
    <link th:href="@{/static/css/common.css}" rel="stylesheet" />
    <link th:href="@{/static/css/register.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <link rel="stylesheet" th:href="@{static/yuyueguanjia/css/yuyueguanjia.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{http://www.jishiguanjia.com/favicon.ico}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/app.js}"></script>
</head>
<style></style>
<body>
<header>
    <div class="p-header">
        <div class="topCon">
            <div class="menuBox">
                <div class="wrap">
                    <div class="wrap">
                        <ul>
                            <li class="on">
                                <a href="../homePage">网站首页</a>
                            </li>
                            <li><a href="../ls_tbs/fbxp">发布需求</a></li>
                            <li><a href="../ls_tbs/tests">定制管家</a></li>
                            <li><a th:href="@{'/msxx?memId='+${session.memId}}">面试记录</a></li>
                            <li><a th:href="@{'/xxxx?memId='+${session.memId}}">消息列表</a></li>
                            <li><a href="http://www.jishiguanjia.com/list.php?typeid=697#maodian">关于我们</a></li>
                            <li><a href="server/login">我的</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
           <div class="col-lg-10">
               <br/>
                <h2><span th:text="${steward.steName}"></span>管家的官方资格证书</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h3 style="color:#D8D8D8 ">该管家经过官方认证的所有技能资格证书</h3>
            </div>
        </div>
        <div class="row" align="center">
            <div th:if="${list ne null}">
               <div th:each="Certificate:${list}">
                    <div class="col-lg-4">
                        <img name="imgcer" th:src="${Certificate.cerImg}" style="z-index: 0" height="250px">
                        <h3><span th:text="${Certificate.cerName}+'证书'"></span></h3>
                    </div>
               </div>
            </div>
        </div>
        <div class="row" style="box-shadow: darkgrey 10px 10px 30px 5px ;">
            <div class="col-lg-9" >
              <div class="row">
                  <div class="col-lg-3" align="center">
                      <br/>
                      <h2><span th:text="${steward.steName}"></span></h2>
                  </div>
                  <div class="col-lg-9">
                      <br/>
                      <div class="row col-lg-12">
                          <div th:if="${steward.steRealnamestate} eq '已实名'">
                              <div class="col-lg-3" >
                                  <div style="float: left;background-color: #EEEEEE; border-radius:15px;">
                                      <h5>&nbsp;&nbsp;&nbsp;&nbsp;已实名&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                                  </div>
                              </div>
                          </div> <div th:if="${steward.steRealnamestate} eq '待审核'">
                          <div class="col-lg-3" >
                              <div style="float: left;background-color: #EEEEEE; border-radius:15px;">
                                  <h5>&nbsp;&nbsp;&nbsp;&nbsp;待审核&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                              </div>
                          </div>
                      </div>
                          <div th:if="${steward.steRealnamestate} eq '未实名'">
                              <div class="col-lg-3" >
                                  <div style="float: left;background-color: #EEEEEE; border-radius:15px;">
                                      <h5>&nbsp;&nbsp;&nbsp;&nbsp;未实名&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                                  </div>
                              </div>
                          </div>
                          <!--有无证书-->
                          <div th:if="${steward.steCerstate} eq '有'">
                              <div class="col-lg-3" >
                                  <div style="float: left;background-color: #EEEEEE; border-radius:15px;">
                                      <h5>&nbsp;&nbsp;&nbsp;&nbsp;有证书&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                                  </div>
                              </div>
                          </div>
                          <div th:if="${steward.steCerstate} eq '无'">
                              <div class="col-lg-3" >
                                  <div style="float: left;background-color: #EEEEEE; border-radius:15px;">
                                      <h5>&nbsp;&nbsp;&nbsp;&nbsp;无证书&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                                  </div>
                              </div>
                          </div>
                          <!--森马管家-->
                          <div th:if="${steward.steContracttype} eq '2'">
                              <div class="col-lg-3" >
                                  <div style="float: left;background-color: #EEEEEE; border-radius:15px;">
                                      <h5>&nbsp;&nbsp;&nbsp;&nbsp;签约管家&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                                  </div>
                              </div>
                          </div>
                          <div th:if="${steward.steContracttype} eq '1'">
                              <div class="col-lg-3" >
                                  <div style="float: left;background-color: #EEEEEE; border-radius:15px;">
                                      <h5>&nbsp;&nbsp;&nbsp;&nbsp;个人管家&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row col-lg-12">
                          <hr/>
                      </div>
                      <div class="row">
                          <div  class="col-lg-3">
                              <font color="#A3A3A3"><h4><span th:text="${steward.steAddress}"></span></h4></font>
                          </div>
                          <div  class="col-lg-3">
                              <font color="#A3A3A3"><h4><span th:text="${steward.steAge}"></span>岁</h4></font>
                          </div>
                          <div  class="col-lg-3">
                              <font color="#A3A3A3"><h4>经验：<span th:text="${steward.steWorkyear}"></span>年</h4></font>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                 <div class="col-lg-1">
                 </div>
                  <div class="col-lg-10">
                      <div class="row">
                          <div th:if="${fwtds eq null}">
                              <div class="col-lg-12">
                                  <h3>
                                      服务态度：
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${fwtds eq 1}">
                              <div class="col-lg-12">
                                  <h3>
                                      服务态度：
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${fwtds eq 2}">
                              <div class="col-lg-12">
                                  <h3>
                                      服务态度：
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${fwtds eq 3}">
                              <div class="col-lg-12">
                                  <h3>
                                      服务态度：
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${fwtds eq 4}">
                              <div class="col-lg-12">
                                  <h3>
                                      服务态度：
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${fwtds eq 5}">
                          <div class="col-lg-12">
                                  <h3>
                                      服务态度：
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zyjns eq null}">
                              <div class="col-lg-12">
                                  <h3>
                                      专业技能：
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zyjns eq 1}">
                              <div class="col-lg-12">
                                  <h3>
                                      专业技能：
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zyjns eq 2}">
                              <div class="col-lg-12">
                                  <h3>
                                      专业技能：
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zyjns eq 3}">
                              <div class="col-lg-12">
                                  <h3>
                                      专业技能：
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zyjns eq 4}">
                              <div class="col-lg-12">
                                  <h3>
                                      专业技能：
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zyjns eq 5}">
                              <div class="col-lg-12">
                                  <h3>
                                      专业技能：
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zysys eq null}">
                              <div class="col-lg-12">
                                  <h3>
                                      职业素养：
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zysys eq 1}">
                              <div class="col-lg-12">
                                  <h3>
                                      职业素养：
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zysys eq 2}">
                              <div class="col-lg-12">
                                  <h3>
                                      职业素养：
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zysys eq 3}">
                              <div class="col-lg-12">
                                  <h3>
                                      职业素养：
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zysys eq 4}">
                              <div class="col-lg-12">
                                  <h3>
                                      职业素养：
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star" style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 分
                                  </h3>
                              </div>
                          </div>
                          <div th:if="${zysys eq 5}">
                              <div class="col-lg-12">
                                  <h3>
                                      职业素养：
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;
                                      <span class="	glyphicon glyphicon-star"style="color: red;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 分
                                  </h3>
                              </div>
                          </div>
                      </div>
                      <div class="row col-lg-12">
                          <h3><span th:if="${pjcs eq null}" th:text="'服务 0 户 | 评论 0 条'"></span>
                              <span th:if="${pjcs ne null}" th:text="'服务 '+${pjcs}+' 户 |  评论 '+${pjcs}+' 条'"></span>
                          </h3>
                      </div>
                      <!--职员技能-->
                      <div class="row" name="zyjn">
                          <input type="text" th:name="${steward.steId}" th:value="${steward.steSkill}">
                      </div>
                      <!--个人标签-->
                      <div class="row" name="rows">
                             <input type="text" th:name="${steward.steId}" th value="${steward.steTag}">
                             <div th:name="${steward.steId}"></div>
                      </div>
                      <div class="row col-lg-12">
                          <br/>
                          <h3>个人介绍 | <span th:text="${steward.steNative}"></span></h3>
                          <br />
                          <h3 style="color:#D8D8D8">我是一个勤劳善良，为人正直的好管家~</h3>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-3" >
                <br/> <br/> <br/>
                <img class="image" th:src="${steward.getSteChead()}" height="260px" id="scenic_img"><br/>
                <div class="col-lg-12" >
                    <br/>
                     <div style="float: left;background-color: #D8D8D8; border-radius:15px; ">
                         <h4 align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><span th:text="${steward.steWorkstate}"></span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                      </div>
                      </div>
            </div>
            <div class="row col-lg-12"><br/><br/></div>
        </div>
        <div class="row">
            <div class="col-lg-12" align="center">
                <br/><br/>
                <input  name="memId" type="text" th:value="${session.memId}">
                <input  name="steId" type="text" th:value="${steward.steId}">
                <a  name="ac" href="#" style=" text-decoration: none"><div style="width: 500px; background-color: #1E7AF7; border-radius:15px; color: #FFFFFF">
                    <h4 align="center">
                        <br/> <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>预约面试</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br/> <br/> <br/>
                    </h4>
                </div>
                </a>
                <br/><br/>
            </div>
            </div>
        </div>
    </div>
    <div class="p-footer">
        <div class="content1">
            <div class="wrap">
                <div class="fItem1">
                    <a href="http://www.jishiguanjia.com/index.php" class="logo">
                        <img th:src="@{/static/images/p-header-logo.png}" alt="">
                    </a>
                    <div class="ewm">
                        <img th:src="@{/static/images/ewm.jpg}" alt="">
                        <span>微信公众号</span>
                    </div>
                    <div class="des" style="margin-top: 15px;">
                        <p style="font-size: 14px;color: #333;line-height: 24px;">及时管家是属于<br>湖南品质生活服务有限公司旗下商标</p>
                    </div>
                </div>
                <div class="fItem2">
                    <h3>联系我们</h3>
                    <div>
                        <p>公司地址：湖南省长沙市岳麓区麓谷科技产业园A3栋七楼</p>
                        <p>客服电话：400-6186-889</p>
                        <p>官方微信公众号：jishiguanjia</p>
                    </div>
                    <div>
                        <span>业务合作</span>
                        <p>联系人：汤先生</p>
                        <p>电话：15675831721</p>
                    </div>
                    <div>
                        <span>新媒体及宣传合作</span>
                        <p>联系人：钟先生</p>
                        <p>电话：15084888427</p>
                    </div>
                    <div>
                        <span>家政服务合作</span>
                        <p>联系人：成女士</p>
                        <p>电话：0731-89712116</p>
                    </div>
                    <div>
                        <span>产品及渠道合作</span>
                        <p>联系人：钟先生</p>
                        <p>电话：15084888427</p>
                    </div>
                </div>
                <div class="fItem3">
                    <dl>
                        <dt>关于我们</dt>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=705#maodian">公司简介</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=740#maodian">企业愿景</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=704#maodian">发展历程</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=706#maodian">企业文化</a>
                        </dd>

                    </dl>
                    <dl>
                        <dt>家庭服务</dt>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=718#maodian">清洁管家服务</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=719#maodian">日常清洁护理</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=720#maodian">清洗服务</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=721#maodian">生活管家</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>生活百科</dt>
                        <dd>
                        </dd><dd>
                        <a href="http://www.jishiguanjia.com/list.php?typeid=708#maodian">保洁</a>
                    </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=709#maodian">保姆</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=711#maodian">家具护理</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=712#maodian">家政</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=714#maodian">生活贴士</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=715#maodian">新式家政</a>
                        </dd>
                        <dd>
                            <a href="http://www.jishiguanjia.com/list.php?typeid=717#maodian">育儿百科</a>
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
        <div class="content2">
            <div class="wrap">
                <p>@copyright  湖南品质生活服务有限公司　<a href="http://www.beian.miit.gov.cn/" target="_blank">湘ICP备17010467号-1</a></p>
            </div>
        </div>
    </div>
</header>
<STYLE>
    /*div{*/
        /*border: red 1px solid;*/
    /*}*/
</STYLE>
<script>
    $(function () {
        $("[name=memId]").hide();
        $("[name=steId]").hide();
        //预约面似
        $("[name=ac]").click(function () {
            $.ajax({
                type: "post",
                url: "tjmstz",
                data: {
                    memId:$("[name=memId]").val(),
                    steId:$("[name=steId]").val()
                },
                dataType: "text",
                success: function (e) {
                    alert(e)
                }
            })

        })

        // 图片放大效果
        $("[name=imgcer]").mouseover(function () {
            $(this).css("height","500px");
            $(this).parent().css("z-index","10");
        })

        $("[name=imgcer]").mouseout(function () {
            $(this).css("height","250px")
            $(this).parent().css("z-index","0");
        })
        //技能
        var a = new Array("钢琴8级", "营养师三级", "英语六级", "育婴师", "月嫂", "俄语6级", "芭蕾舞老师");
        for (var i = 0; i < 100; i++) {
            if ($("input[name=" + i + "]").length > 0) {
                var str = $("input[name=" + i + "]").val();
                $("input[name=" + i + "]").hide();
                for (var j = 1; j < a.length + 1; j++) {
                    var sear = new RegExp(j);
                    if (sear.test(str)) {
                        ($("div[name=" + i + "]")).append(" <div class=\"col-lg-3\">\n" +
                            "                                <div style=\"float: left;background-color: red; border-radius:15px; color: #FFFFFF\">\n" +
                            "                                    <h4>&nbsp;&nbsp;" + a[j - 1] + "&nbsp;&nbsp;</h4>\n" +
                            "                                </div>\n" +
                            "                            </div>")
                    }
                }
            }
        }
        //个人标签
        var b = new Array("活泼开朗", "热爱生活", "精通英语", "育儿教育", "擅长面食", "擅长湘菜", "生活经验", "老司机");
        for (var i = 0; i < 100; i++) {
            if ($("input[name=" + i + "]").length > 0) {
                var str = $("input[name=" + i + "]").val();
                $("input[name=" + i + "]").hide();
                for (var j = 1; j < b.length + 1; j++) {
                    var sear = new RegExp(j);
                    if (sear.test(str)) {
                        ($("div[name=" + i + "]")).append(" <div class=\"col-lg-3\">\n" +
                            "                                <div style=\"float: left;background-color: #64B4F5; border-radius:15px; color: #FFFFFF\">\n" +
                            "                                    <h4>&nbsp;&nbsp;" + b[j - 1] + "&nbsp;&nbsp;</h4>\n" +
                            "                                </div>\n" +
                            "                            </div>")
                    }
                }
            }
        }
    })
</script>
</body>
</html>