<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 编辑后台帐号</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
</head>
<body class="layui-dialog-body">
<form class="layui-form layui-form-pane" action="" lay-filter="formdata">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input disabled type="text" name="manaLoginname" lay-verify="required" autocomplete="off"
                   placeholder="请输入用户名"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="manaPassword" lay-verify="manaPassword" autocomplete="off" placeholder="请输入密码"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            <select name="roleId" id="roleId" lay-filter="roleId" lay-verify="required" lay-search>
                <option value="">直接选择或搜索选择</option>
                <option th:each="list:${roleList}" th:value="${list.roleId}" th:text="${list.roleName}"/>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="manaName" lay-verify="required" autocomplete="off" placeholder="请输入姓名"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号码</label>
        <div class="layui-input-block">
            <input type="text" name="manaTel" lay-verify="manaTel" autocomplete="off" placeholder="请输入手机号码"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block layui-align-right">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
        </div>
    </div>
    <input type="hidden" name="manaId" id="manaId"/>
</form>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var $ = layui.jquery,
            form = layui.form;
        var count = 0;	//提交次数

        //自定义验证规则
        form.verify({
            manaPassword: [
                /^(\w){6,}$/
                , '密码由字母、数字任意组合，长度6位以上'
            ],
            manaTel: [
                /^1[3456789]\d{9}$/
                , '手机号码格式错误'
            ]
        });

        // 监听提交操作
        form.on('submit(submit)', function (data) {
            //次数控制，点击多次也只提交一次
            if (count > 0) {
                return false;
            } else {
                $.ajax({
                    url: "manager/editManager", //请求接口
                    type: "post",   //请求方式
                    data: data.field,
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        if (result.code == 200) { //成功
                            location.reload();
                            parent.layer.closeAll();
                            parent.layer.msg(result.msg);
                        } else { //失败
                            parent.layer.msg(result.msg);
                        }
                    }
                });
            }
            //点击次数累加
            count++;
        });
    });

    //显示数据
    function renderData(data) {
        layui.use(['form'], function () {
            var form = layui.form;
            form.val("formdata", {
                "manaId": data.manaId,
                "manaLoginname": data.manaLoginname,
                "manaPassword": data.manaPassword,
                "roleId": data.roleId,
                "manaName": data.manaName,
                "manaTel": data.manaTel
            });
        });
    }
</script>
</body>
</html>