<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 生成新卡</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
</head>
<body class="layui-dialog-body">
<div class="layui-form layui-form-pane" action="">
    <div class="layui-row layui-col-space5">
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">卡名称</label>
                <div class="layui-input-block">
                    <input type="text" name="cardName" id="cardName" autocomplete="off" required
                           class="layui-input"
                           placeholder="请输入卡名称">
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">销售价格</label>
                <div class="layui-input-block">
                    <input type="text" name="cardSaleprice" id="cardSaleprice" autocomplete="off"
                           placeholder="请输入销售价格"
                           class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space5">
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">卡面值</label>
                <div class="layui-input-block">
                    <input type="text" name="cardFaceprice" id="cardFaceprice" autocomplete="off"
                           placeholder="请输入卡面值"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">生成数量</label>
                <div class="layui-input-block">
                    <input type="text" name="num" id="num" autocomplete="off" value="" placeholder="请输入生成数量"
                           class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space5">
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">过期时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="cardExpireddate" placeholder="请输入过期时间"
                           name="cardExpireddate">
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">起始卡号</label>
                <div class="layui-input-block">
                    <input type="text" name="cardCode" id="cardCode" autocomplete="off" value="" placeholder="请输入起始卡号"
                           class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="cardRemark" id="cardRemark" placeholder="请输入卡备注" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space5">
        <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 100%">
                    <select name="pcId" id="pcId" lay-filter="pcId" lay-search>
                        <option value="">直接选择或搜索选择商品类型</option>
                        <option th:each="list:${proClass}" th:value="${list.pcId}" th:text="${list.pcName}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
            <div class="layui-form-item">
                <div class="layui-inline" style="width: 100%">
                    <select name="proId" id="proId" lay-filter="proId" lay-search>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
            <button class="layui-btn" onclick="addPro()">加入商品列表</button>
        </div>
    </div>
    <div class="layui-row">
        <fieldset class="layui-elem-field layuimini-search">
            <legend>商品列表</legend>
            <div class="layui-margin-10">
                <div id="goodList" class="layui-row layui-col-space5">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block layui-align-right">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
        </div>
    </div>
</div>
<script th:src="@{/static/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>
<script th:src="@{/static/js/public.js}" charset="utf-8"></script>
<script>
    var proIds = ";"; //商品编号集合
    var proFlag = false; //有无商品列表标识
    layui.use(['form', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate;
        var count = 0;	//提交次数

        laydate.render({
            elem: '#cardExpireddate'
            , type: 'date'
            , format: 'yyyy-M-d'
            , min: 'date'
            , trigger: 'click'
        });

        //监听商品类型下拉框
        form.on('select(pcId)', function (obj) {
            $.ajax({
                url: "manager/getProductList", //请求接口
                type: "get",   //请求方式
                data: {pcId: obj.value},
                dataType: "json",
                async: false,
                success: function (result) {
                    proFlag = false;
                    if (result.length > 0) {
                        proFlag = true;
                    }
                    var str = '<option value="">直接选择或搜索选择商品</option>';
                    for (var i = 0; i < result.length; i++) {
                        var data = result[i];
                        str += '<option value="' + data.proId + '" id="' + data.tagCover + '">' + data.proName + '</option>';
                    }
                    $("#proId").html(str);
                    form.render('select');
                }
            });
        });

        //监听商品下拉框
        form.on('select(proId)', function (obj) {
            //判断商品是否已经添加过
            if (proIds.indexOf(";" + obj.value + ";") != -1) {
                layer.msg("该商品已经在商品列表,请重新选择");
                $("#proId").val("");
            }
        });

        // 监听提交操作
        form.on('submit(submit)', function (data) {
            var cardCode = $("#cardCode").val();
            var cardName = $("#cardName").val();
            var cardSaleprice = $("#cardSaleprice").val();
            var cardFaceprice = $("#cardFaceprice").val();
            var num = $("#num").val();
            var cardExpireddate = $("#cardExpireddate").val();
            var cardRemark = $("#cardRemark").val();

            if (!cardName) {
                layer.msg("请输入卡名称");
                return false;
            }
            if (!cardSaleprice || isNaN(cardSaleprice)) {
                layer.msg("销售价格只能为数字");
                return false;
            }
            if (!cardFaceprice || isNaN(cardFaceprice)) {
                layer.msg("卡面值只能为数字");
                return false;
            }
            if (!(/^(\+|-)?\d+$/.test(num)) || num <= 0 || num > 10000) {
                layer.msg("生成数量只能为1-10000的整数");
                return false;
            }
            if (!(/^(\d{4})[-\/](\d{1}|0\d{1}|1[0-2])([-\/](\d{1}|0\d{1}|[1-2][0-9]|3[0-1]))*$/.test(cardExpireddate))) {
                layer.msg("过期时间格式不正确");
                return false;
            }
            if (!(/^(\+|-)?\d+$/.test(cardCode)) || cardCode <= 0) {
                layer.msg("起始卡号只能为大于0的整数");
                return false;
            }
            var mainId = $("input[name='mainProduct']:checked").val();
            if (proIds == "" || proIds == ";") {
                layer.msg("请添加商品列表");
                return false;
            }
            //去除前后分号
            if(proIds.indexOf(";") != -1) {
                proIds = proIds.substring(1, proIds.length - 1);
            }
            if (mainId == undefined) {
                layer.msg("请设置主商品");
                return false;
            }

            //次数控制，点击多次也只提交一次
            if (count > 0) {
                return false;
            } else {
                $.ajax({
                    url: "manager/addCard", //请求接口
                    type: "post",   //请求方式
                    data: {
                        cardCode: cardCode,
                        cardName: cardName,
                        cardSaleprice: cardSaleprice,
                        cardFaceprice: cardFaceprice,
                        cardExpireddate: cardExpireddate,
                        cardRemark: cardRemark,
                        num: num,
                        proIds: proIds,
                        mainId: mainId
                    },
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        if (result.code == 200) { //成功
                            location.reload();
                            parent.layer.closeAll();
                            parent.layer.msg(result.msg);
                            //点击次数累加
                            count++;
                        } else { //失败
                            parent.layer.msg(result.msg);
                        }
                    }
                });
            }
        });
    });

    //添加商品
    function addPro() {
        layui.use(['form', 'laydate'], function () {
            var form = layui.form;

            if ($("#pcId").val() == "") {
                layer.msg("请选择或搜索商品类型");
                return false;
            }
            if (proFlag && $("#proId").val() == "") {
                layer.msg("请选择或搜索商品");
                return false;
            }
            var proName = $("#proId option:selected").text();   //商品名称
            var proId = $("#proId").val();  //商品编号
            var proCover = $("#proId option:selected")[0].id;   //商品封图
            proIds += proId + ";";
            var str = '<div class="layui-col-xs4 layui-col-sm4 layui-col-md4 text-center" id="' + proId + '"><dt><dd>' + proName + '</dd>';
            str += '<dd><img src="' + proCover + '" width="90%"/></dd>';
            str += '<dd><input type="radio" name="mainProduct" value="' + proId + '" title="主推" checked=""> </dd>';
            str += '<dd><button class="layui-btn layui-btn-primary layui-btn-sm" style="width: 90%" onclick="delPro(' + proId + ')">删除</button></dd></dt></div>';
            $("#goodList").append(str);

            form.render("radio");

            $("#proId").val("");
            form.render('select');
        });
    }

    //删除商品
    function delPro(id) {
        layui.use(['form', 'laydate'], function () {
            $("#" + id).remove();
            proIds = proIds.replace(id + ";", "");
        });
    }
</script>
</body>
</html>