<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 编辑库存</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
</head>
<body class="layui-dialog-body">
<form class="layui-form layui-form-pane" action="" lay-filter="formdata">
    <div class="layui-form-item">
        <label class="layui-form-label">商户名称</label>
        <div class="layui-input-block">
            <select name="merId" id="merId" lay-filter="merId" lay-verify="required" lay-search>
                <option value="">直接选择或搜索选择</option>
                <option th:each="list:${merList}" th:value="${list.merId}" th:text="${list.merName}"/>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预约日期</label>
        <div class="layui-input-block">
            <input type="text" name="skuDate" id="skuDate" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-block">
            <select name="proId" id="proId" lay-filter="proId" lay-verify="required" lay-search>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预约库存</label>
        <div class="layui-input-block">
            <input type="text" name="skuStock" id="skuStock" autocomplete="off"
                   placeholder="请输入可预约库存量"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品售价</label>
        <div class="layui-input-block">
            <input type="text" name="skuPrice" id="skuPrice" autocomplete="off" lay-verify="number"
                   placeholder="请输入产品实际销售价格"
                   class="layui-input">
        </div>
    </div>
    <div id="departcity" class="layui-form-item">
        <label class="layui-form-label">出发城市</label>
        <div class="layui-input-block">
            <input type="text" name="skuDepartcity" id="skuDepartcity" autocomplete="off" placeholder="请输入出发城市"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block layui-align-right">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
        </div>
    </div>
    <input type="hidden" name="skuId" id="skuId"/>
</form>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script>
    var pcId;
    var proId = "";
    var merId = "";
    layui.use(['form', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate;
        var count = 0;	//提交次数

        laydate.render({
            elem: '#skuDate'
            , type: 'date'
            , format: 'yyyy-MM-dd'
            , min: 'date'
            , trigger: 'click'
            ,done: function(value, date, endDate){
                if ($("#merId").val() == "" || value == "") {
                    $("#proId").html("");
                    form.render('select');
                    return false;
                }
                $.ajax({
                    url: "manager/getGoods", //请求接口
                    type: "get",   //请求方式
                    data: {
                        "startTime": value,
                        "endTime": value,
                        "type": 1,
                        "merId": $("#merId").val()
                    },
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        var str = '<option value="">直接选择或搜索选择</option>';
                        for(var i = 0; i < result.length; i++){
                            var data = result[i];
                            str += '<option value="' + data.proId + '">' + data.proName + '</option>';
                        }
                        $("#proId").html(str);
                        form.render('select');
                    }
                });
            }
        });

        // 监听提交操作
        form.on('submit(submit)', function (data) {
            if (!(/^(\+|-)?\d+$/.test($("#skuStock").val())) || $("#skuStock").val() < 0) {
                layer.msg("预约库存不能小于0");
                return false;
            }
            if (pcId == 2) {
                if ($("#skuDepartcity").val() == null || $("#skuDepartcity").val() == undefined || $("#skuDepartcity").val() == '') {
                    layer.msg("请输入出发城市");
                    return false;
                }
            }
            //次数控制，点击多次也只提交一次
            if (count > 0) {
                return false;
            } else {
                $.ajax({
                    url: "manager/editSku", //请求接口
                    type: "post",   //请求方式
                    data: {
                        "skuId": $("#skuId").val(),
                        "proId": proId,
                        "merId": merId,
                        "skuStock": $("#skuStock").val(),
                        "skuPrice": $("#skuPrice").val(),
                        "skuDepartcity": $("#skuDepartcity").val(),
                        "skuDate": $("#skuDate").val()
                    },
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        if (result.code == 200) { //成功
                            location.reload();
                            parent.layer.closeAll();
                            parent.layer.msg(result.msg);
                        } else { //失败
                            parent.layer.msg(result.msg);
                        }
                    }
                });
            }
            //点击次数累加
            count++;
        });

        //商户下拉框监听
        form.on('select(merId)', function (data) {
            merId = data.value;

            if (merId == "" || $("#skuDate").val() == "") {
                $("#proId").html("");
                form.render('select');
                return false;
            }
            var value = $("#skuDate").val();
            var startTime = value;
            var endTime = value;
            $.ajax({
                url: "manager/getGoods", //请求接口
                type: "get",   //请求方式
                data: {
                    "startTime": startTime,
                    "endTime": endTime,
                    "type": 1,
                    "merId": merId
                },
                dataType: "json",
                async: false,
                success: function (result) {
                    var str = '<option value="">直接选择或搜索选择</option>';
                    for (var i = 0; i < result.length; i++) {
                        var data = result[i];
                        str += '<option value="' + data.proId + '">' + data.proName + '</option>';
                    }
                    $("#proId").html(str);
                    form.render('select');
                }
            });
        });

        //商品下拉框监听
        form.on('select(proId)', function (data) {
            proId = data.value;
            getType(proId);
        });
    });

    //显示数据
    function renderData(data) {
        getType(data.proId);
        proId = data.proId;
        merId = data.merId;
        layui.use(['form'], function () {
            var $ = layui.jquery,
                form = layui.form;

            $.ajax({
                url: "manager/getGoods", //请求接口
                type: "get",   //请求方式
                data: {
                    "startTime": data.skuDate,
                    "endTime": data.skuDate,
                    "type": 1,
                    "merId": data.merId
                },
                dataType: "json",
                async: false,
                success: function (result) {
                    var str = '<option value="">直接选择或搜索选择</option><option value="' + data.proId + '">' + data.prodName + '</option>';
                    for (var i = 0; i < result.length; i++) {
                        var pro = result[i];
                        str += '<option value="' + pro.proId + '">' + pro.proName + '</option>';
                    }
                    $("#proId").html(str);
                }
            });

            form.val("formdata", {
                "skuId": data.skuId,
                "merId": data.merId,
                "proId": data.proId,
                "skuDate": data.skuDate,
                "skuStock": data.skuStock,
                "skuPrice": data.skuPrice,
                "skuDepartcity": data.skuDepartcity
            });
            form.render('select');
        });
    }

    //获取商品类型
    function getType(proId) {
        var $ = layui.jquery;
        $.ajax({
            url: "manager/getProType", //请求接口
            type: "get",   //请求方式
            data: {
                "proId": proId
            },
            dataType: "json",
            async: false,
            success: function (result) {
                pcId = result.pcId;
                if (result.pcId == 2) {
                    $("#departcity").css('display', 'block');
                } else {
                    $("#departcity").css('display', 'none');
                }
            }
        });
    }
</script>
</body>
</html>