<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 添加库存</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
</head>
<body class="layui-dialog-body">
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">所属商户</label>
        <div class="layui-input-block">
            <select name="merId" id="merId" lay-filter="merId" lay-search>
                <option value="">直接选择或搜索选择</option>
                <option th:each="list:${hoteMerList}" th:value="${list.merId}" th:text="${list.merName}"/>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">酒店名称</label>
        <div class="layui-input-block">
            <select name="hotId" id="hotId" lay-filter="hotId" lay-verify="required" lay-search>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预约日期</label>
        <div class="layui-input-block">
            <input type="text" name="hsDate" id="hsDate" placeholder="请选择预约日期" lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-block">
            <select name="proId" id="proId" lay-filter="proId" lay-verify="required" lay-search>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预约库存</label>
        <div class="layui-input-block">
            <input type="text" name="hsStock" id="hsStock" lay-verify="number" autocomplete="off"
                   placeholder="请输入可预约库存量" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品售价</label>
        <div class="layui-input-block">
            <input type="text" name="hsPrice" id="hsPrice" lay-verify="number" autocomplete="off"
                   placeholder="请输入产品实际销售价格" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block layui-align-right">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script>
    var hotId = "";
    var proId = "";
    var merId = "";
    layui.use(['form', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate;
        var count = 0;	//提交次数

        laydate.render({
            elem: '#hsDate'
            , type: 'date'
            , range: '~'
            , format: 'yyyy-MM-dd'
            , min: 'date'
            , trigger: 'click'
            ,done: function(value, date, endDate){
                if ($("#merIds").val() == "" || $("#hotId").val() == "" || value == "") {
                    $("#proId").html("");
                    form.render('select');
                    return false;
                }
                var startTime = value.split("~")[0];
                var endTime = value.split("~")[1];
                $.ajax({
                    url: "manager/getGoods", //请求接口
                    type: "get",   //请求方式
                    data: {
                        "startTime": startTime,
                        "endTime": endTime,
                        "type": 2,
                        "merId": $("#hotId").val()
                    },
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        var str = '<option value="">直接选择或搜索选择</option>';
                        for(var i = 0; i < result.length; i++){
                            var data = result[i];
                            str += '<option value="' + data.proId + '">' + data.proName + '</option>';
                        }
                        $("#proId").html(str);
                        form.render('select');
                    }
                });
            }
        });

        // 监听提交操作
        form.on('submit(submit)', function (data) {
            var dataTime = $("#hsDate").val();
            var startTime = "";
            var endTime = "";
            if (dataTime != null && dataTime != undefined && dataTime != '') {
                startTime = dataTime.split("~")[0];
                endTime = dataTime.split("~")[1]
            }
            if (!(/^(\+|-)?\d+$/.test($("#hsStock").val())) || $("#hsStock").val() < 0) {
                layer.msg("预约库存不能小于0");
                return false;
            }
            //次数控制，点击多次也只提交一次
            if (count > 0) {
                return false;
            } else {
                $.ajax({
                    url: "manager/addHotelSku", //请求接口
                    type: "post",   //请求方式
                    data: {
                        "proId": proId,
                        "hotId": hotId,
                        "hsStock": $("#hsStock").val(),
                        "hsPrice": $("#hsPrice").val(),
                        "startTime": startTime,
                        "endTime": endTime
                    },
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        if (result.code == 200) { //成功
                            location.reload();
                            parent.layer.closeAll();
                            parent.layer.msg(result.msg);
                        } else { //失败
                            parent.layer.msg(result.msg);
                        }
                    }
                });
            }
            //点击次数累加
            count++;
        });

        //商户下拉框监听
        form.on('select(merId)', function (data) {
            merId = data.value;
            if(merId == ""){
                $("#hotId").html("");
                $("#proId").html("");
                form.render('select');
                return false;
            }
            $.ajax({
                url: "manager/getHotelByMerId", //请求接口
                type: "get",   //请求方式
                data: {
                    "merId": merId
                },
                dataType: "json",
                async: false,
                success: function (result) {
                    var str = '<option value="">直接选择或搜索选择</option>';
                    for (var i in result) {
                        str += '<option value = "' + result[i].hotId + '" >' + result[i].hotName + '</option>'
                    }
                    $("#hotId").html(str);
                    form.render('select');
                }
            });
        });

        //酒店下拉框监听
        form.on('select(hotId)', function (data) {
            hotId = data.value;

            if ($("#merIds").val() == "" || hotId == "" || $("#hsDate").val() == "") {
                $("#proId").html("");
                form.render('select');
                return false;
            }
            var value = $("#hsDate").val();
            var startTime = value.split("~")[0];
            var endTime = value.split("~")[1];
            $.ajax({
                url: "manager/getGoods", //请求接口
                type: "get",   //请求方式
                data: {
                    "startTime": startTime,
                    "endTime": endTime,
                    "type": 2,
                    "merId": hotId
                },
                dataType: "json",
                async: false,
                success: function (result) {
                    var str = '<option value="">直接选择或搜索选择</option>';
                    for (var i = 0; i < result.length; i++) {
                        var data = result[i];
                        str += '<option value="' + data.proId + '">' + data.proName + '</option>';
                    }
                    $("#proId").html(str);
                    form.render('select');
                }
            });
        });

        //商品下拉框监听
        form.on('select(proId)', function (data) {
            proId = data.value;
        });
    });
</script>
</body>
</html>