<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>及时管家运营平台 - 登陆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/login.css}" media="all">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-container">
    <div class="admin-login-background">
        <div class="layui-form login-form">
            <div class="layui-form">
                <div class="layui-form-item logo-title">
                    <h1><img th:src="@{/static/img/logo.png}" width="15%"/><span style="margin-left: 5px;">及时管家运营平台</span></h1>
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-username"></label>
                    <input type="text" name="username" lay-verify="required|account" placeholder="请输入账号"
                           autocomplete="off" class="layui-input" value="">
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-password"></label>
                    <input type="password" name="password" lay-verify="required|password" placeholder="请输入密码"
                           autocomplete="off" class="layui-input" value="">
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" id="login" lay-submit="" lay-filter="login">登 入</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/lib/jq-module/jquery.particleground.min.js}" charset="utf-8"></script>
<script>
    // 粒子线条背景
    $(document).ready(function () {
        $('.layui-container').particleground({
            dotColor: '#5cbdaa',
            lineColor: '#5cbdaa'
        });
    });

    layui.use(['form'], function () {
        var form = layui.form,
            $ = layui.jquery,
            layer = layui.layer;

        // 登录过期的时候，跳出ifram框架
        if (top.location != self.location) top.location = self.location;

        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                $("#login").click();
            }
        });

        // 进行登录操作
        form.on('submit(login)', function (data) {
            $.ajax({
                url: "manager/loginAuth", //请求接口
                type: "post",   //请求方式
                data: {userName:data.field.username, password:data.field.password},
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result.code == 200) { //成功
                        window.location = 'index';
                    } else { //失败
                        layer.msg(result.msg);
                    }
                }
            });
        });
    });
</script>
</body>
</html>