<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>预订运营平台 - 通知</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
</head>
<body>
<div class="layui-container">
    <div>
        <h2 style="text-align: center;">温馨提示</h2>
        <p style="font-weight: bold">亲爱的客户：</p>
        <p style="text-indent:2em;">您好！</p>
        <p style="text-indent:2em;">最近有客户反映通过在线预约系统无法及时预约到体检，并且有老年人不懂如何预约，建议我们调整为电话或者微信直接客服沟通预约。经公司研究决定，为提供更加人性化的服务，即日起试行电话及微信预约。已经通过原系统在线预约的客户，请按预约日期到湘雅健康管理中心体检。</p>
        <ul>
            <li><span style="font-weight: bold">预约电话：</span> <a href="tel:15386443221">15386443221</a> （微信同号）</li>
            <li style="padding-left: 85px;list-style: none;"><a href="tel:17300784421">17300784421</a> （微信同号）</li>
            <li><span style="font-weight: bold">预约时间：</span> 9:00 - 17:30 （周日除外）</li>
            <li><span style="font-weight: bold">地址：</span> 长沙市岳麓大道26号金湘大厦（银盆岭大桥西公交站旁）。</li>
        </ul>
        <p style="text-indent:2em;">① 长沙地铁：4号线到【观沙岭站】下步行950米即到；</p>
        <p style="text-indent:2em;">② 长株潭城际铁路：乘坐到【观沙岭站】下步行950米即到；</p>
        <p style="text-indent:2em;">③ 公交乘车路线：市内乘132、149、168、302、348、402、405、603、704、804、907路公交车到“银盆岭大桥西”下车即到。</p>
        <p style="text-indent:2em;margin-top: 15px;font-weight: bold">祝大家健康快乐，阖家幸福！</p>
        <p style="margin-top: 15px;text-align: right;">2019年10月9日</p>
        <p style="text-align: center;" th:text="${code}"></p>
    </div>
</div>
</body>
</html>