<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 服务商用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div class="layui-margin-10">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">所属商户</label>
                            <div class="layui-input-block">
                                <select name="merId" id="merId" lay-filter="merId" lay-search>
                                    <option value="">直接选择或搜索选择</option>
                                    <option th:each="list:${merList}" th:value="${list.merId}" th:text="${list.merName}"/>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="tableOperBar">
            <div class="layui-btn-container">
                <button shiro:hasPermission="56" class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="deleMul">批量删除</button>
                <button shiro:hasPermission="53" class="layui-btn layui-btn-sm data-add-btn" lay-event="add">添加</button>
            </div>
        </script>
        <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
        <script type="text/html" id="tableDataBar">
            <input shiro:hasPermission="57" type="checkbox" name="empState" value="{{d.empId}}" lay-skin="switch" lay-filter="isEnable"
                   lay-text="启用|禁用" {{ d.empState== 1 ? 'checked' : '' }}/>
            <a shiro:hasPermission="54" class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a shiro:hasPermission="55" class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="dele">删除</a>
        </script>
    </div>
</div>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/public.js}" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        var pageNow = 0,dataLength = 0;

        //数据表格
        var tableObj = table.render({
            elem: '#dataTable',
            url: 'manager/getAllEmployees',
            toolbar: '#tableOperBar',
            even: true,
            title: '员工表',
            cellMinWidth: 120,
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {type: 'numbers', title: 'ID', fixed: 'left', align: 'center', width: 80},
                    {field: 'empName', title: '姓名',sort: true, align: 'center'},
                    {field: 'empLoginname', title: '登录帐号', align: 'center'},
                    {field: 'empTel', title: '手机号码', align: 'center'},
                    {field: 'merName', title: '所属商户', sort: true, align: 'center',width: 200},
                    {field: 'hotName', title: '所属酒店', align: 'center'},
                    {title: '操作', toolbar: '#tableDataBar', fixed: 'right', align: 'center', width: 200}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            done: function(res, curr, count){
                pageNow = curr;
                dataLength = res.data.length;
            }
        });

        //监听所属商户下拉框
        form.on('select(merId)', function (obj) {
            //执行搜索重载
            table.reload('dataTable', {
                page: {
                    curr: 1
                }
                , where: {
                    merId: obj.value
                }
            }, 'data');
        });

        //监听表格头工具栏操作
        table.on('toolbar(dataTable)', function (obj) {
            if (obj.event === 'deleMul') {
                var checkStatus = table.checkStatus(obj.config.id);
                //待删除的员工编号
                var empIds = "";
                //已勾选的数据
                var checkData = checkStatus.data;
                //判断有无勾选数据
                if (checkData.length == 0) {
                    layer.msg("请选择要删除的数据项");
                    return;
                }
                //组装员工编号
                for (var i = 0; i < checkData.length; i++) {
                    empIds += checkData[i].empId;
                    //判断是否为最后一个数据，为最后一个时不加分号
                    if (i != checkData.length - 1) {
                        empIds += ";";
                    }
                }

                layer.confirm('确定要删除吗？', function (index) {
                    $.ajax({
                        url: "manager/batchDelEmployees",
                        dataType: "json",
                        type: "get",
                        data: {"empIds": empIds},
                        success: function (result) {
                            if (result.code == 200) { //成功
                                //处理一页只有一行，删除后表格数据不出来的问题
                                if(dataLength == checkData.length){
                                    table.reload('dataTable', {  page: { curr: pageNow > 1 ? (pageNow-1) : 1 } });
                                }else{
                                    table.reload('dataTable', {  page: { curr: pageNow  }  });
                                }
                            }
                            layer.msg(result.msg);
                        }
                    });
                });
            }else if (obj.event === 'add') {
                modalDialog(tableObj,'添加员工','service-users-add','400px','420px',null);
            }
        });

        //监听是否禁用开关
        form.on('switch(isEnable)', function (obj) {
            var isChecked = obj.elem.checked;
            $.ajax({
                url: "manager/setEmployees",
                type: "post",
                data: {"empId": obj.value, "empState": isChecked == true ? 1 : 0},
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result.code == 200) { //成功
                        table.reload('dataTable');
                    }
                    layer.msg(result.msg);
                }
            });
        });

        //监听表格行操作
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                modalDialog(tableObj,'编辑员工','service-users-edit','400px','420px',data);
            } else if (obj.event === 'dele') {
                layer.confirm('确定要删除吗？', function (index) {
                    $.ajax({
                        url: "manager/delEmployees",
                        dataType: "json",
                        type: "get",
                        data: {"empId": data.empId},
                        success: function (result) {
                            if (result.code == 200) { //成功
                                //处理一页只有一行，删除后表格数据不出来的问题
                                if(dataLength == 1){
                                    table.reload('dataTable', {  page: { curr: pageNow > 1 ? (pageNow-1) : 1 } });
                                }else{
                                    table.reload('dataTable', {  page: { curr: pageNow  }  });
                                }
                            }
                            layer.msg(result.msg);
                        }
                    });
                });
            }
        });
    });
</script>
</body>
</html>