<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 基本设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-form layuimini-form">
            <div class="layui-form-item text-center">
                <div class="layui-upload-drag" id="fileUpload">
                    <i class="layui-icon layui-icon-upload"></i>
                    <p>网站LOGO</p>
                </div>
                <p class="msg-red">标准尺寸：128px * 128px</p>
            </div>
            <fieldset class="layui-elem-field layuimini-search">
                <legend>基本配置</legend>
                <div class="layui-margin-10">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">网站名称</label>
                        <div class="layui-input-block">
                            <input type="text" id="siteName" name="siteName" lay-verify="max"
                                   placeholder="请输入汉字" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label required">版权信息</label>
                        <div class="layui-input-block">
                            <textarea id="copyright" name="copyright"
                                      class="layui-textarea">© 2019 layuimini.99php.cn MIT license</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label required">技术支持</label>
                        <div class="layui-input-block">
                            <input type="text" id="company" name="company" class="layui-input" disabled value="湖南狮源信息科技有限公司 www.lionsourceinfo.com">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="layui-elem-field layuimini-search">
                <legend>短信配置</legend>
                <div class="layui-margin-10">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">服务商名称</label>
                        <div class="layui-input-block">
                            <input type="text"id="msgServerName" name="msgServerName" lay-verify="required" lay-reqtext="服务商名称不能为空"
                                   placeholder="请输入服务商名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">服务商域名</label>
                        <div class="layui-input-block">
                            <input type="text" id="domain" name="domain" lay-verify="required" lay-reqtext="服务商域名不能为空"
                                   placeholder="请输入服务商域名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">AppID</label>
                        <div class="layui-input-block">
                            <input type="text" id="msgAppId" name="msgAppId" lay-verify="required" lay-reqtext="AppID不能为空"
                                   placeholder="请输入AppID" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">短信密匙</label>
                        <div class="layui-input-block">
                            <input type="text" id="msgAppKey" name="msgAppKey" lay-verify="required" lay-reqtext="短信密匙不能为空"
                                   placeholder="请输入短信密匙" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">EndpointName</label>
                        <div class="layui-input-block">
                            <input type="text" id="endpointName" name="endpointName" lay-verify="required" lay-reqtext="短信EndpointName不能为空"
                                   placeholder="请输入短信EndpointName" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">RegionId</label>
                        <div class="layui-input-block">
                            <input type="text" id="regionId" name="regionId" lay-verify="required" lay-reqtext="短信RegionId不能为空"
                                   placeholder="请输入短信RegionId" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">短信签名</label>
                        <div class="layui-input-block">
                            <input type="text" id="signName" name="signName" lay-verify="required" lay-reqtext="短信签名不能为空"
                                   placeholder="请输入短信签名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">兑换模板</label>
                        <div class="layui-input-block">
                            <input type="text" id="changeMod" name="changeMod" placeholder="请输入兑换模板编号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">兑换参数</label>
                        <div class="layui-input-block">
                            <input type="text" id="changeParam" name="changeParam" placeholder="请输入兑换模板参数,多个以分号分割" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">预约模板</label>
                        <div class="layui-input-block">
                            <input type="text" id="subMod" name="subMod" placeholder="请输入预约模板编号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">预约参数</label>
                        <div class="layui-input-block">
                            <input type="text" id="subParam" name="subParam" placeholder="请输入预约模板参数,多个以分号分割" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">支付模板</label>
                        <div class="layui-input-block">
                            <input type="text" id="payMod" name="payMod" placeholder="请输入支付模板编号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">支付参数</label>
                        <div class="layui-input-block">
                            <input type="text" id="payParam" name="payParam" placeholder="请输入支付模板参数,多个以分号分割" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">核销模板</label>
                        <div class="layui-input-block">
                            <input type="text" id="useMod" name="useMod" placeholder="请输入支付模板编号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">核销参数</label>
                        <div class="layui-input-block">
                            <input type="text" id="useParam" name="useParam" placeholder="请输入支付模板参数,多个以分号分割" class="layui-input">
                        </div>
                    </div>
                </div>
            </fieldset>
            <div shiro:hasPermission="39" class="layui-form-item">
                <div class="layui-input-block" style="text-align: right">
                    <button class="layui-btn" lay-submit lay-filter="setting">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'upload'], function () {
        var form = layui.form,
            $ = layui.jquery,
            layer = layui.layer,
            upload = layui.upload;
        var sysList = new Array();

        var logoImg = "";  //图片地址
        var width = 128;
        var height = 128;

        //自定义验证规则
        form.verify({
            max: [
                /^[\u4e00-\u9fa5]{0,6}$/
                , '不能超过六个汉字'
            ]
        });

        // 初始化数据
        $.ajax({
            url: "manager/getAllSysSetting", //请求接口
            type: "get",   //请求方式
            dataType: "json",
            async: false,
            success: function (result) {
                if (result.code = 200) {
                    var dataArr = result.data;
                    for (var i = 0; i < dataArr.length; i++) {
                        switch (dataArr[i].conCode) {
                            case 'SITE_NAME':
                                $("#siteName").val(dataArr[i].conValue);
                                break;
                            case 'COPY_RIGHT':
                                $("#copyright").val(dataArr[i].conValue);
                                break;
                            case 'TECH_SUPPORT':
                                $("#company").val(dataArr[i].conValue);
                                break;
                            case 'MSG_NAME':
                                $("#msgServerName").val(dataArr[i].conValue);
                                break;
                            case 'MSG_DOMAIN':
                                $("#domain").val(dataArr[i].conValue);
                                break;
                            case 'MSG_APPID':
                                $("#msgAppId").val(dataArr[i].conValue);
                                break;
                            case 'MSG_APPKEY':
                                $("#msgAppKey").val(dataArr[i].conValue);
                                break;
                            case 'MSG_ENDPOINTNAME':
                                $("#endpointName").val(dataArr[i].conValue);
                                break;
                            case 'MSG_REGIONID':
                                $("#regionId").val(dataArr[i].conValue);
                                break;
                            case 'MSG_SIGNNAME':
                                $("#signName").val(dataArr[i].conValue);
                                break;
                            case 'MSG_CHANGEMOD':
                                $("#changeMod").val(dataArr[i].conValue);
                                break;
                            case 'MSG_CHANGEPARAM':
                                $("#changeParam").val(dataArr[i].conValue);
                                break;
                            case 'MSG_SUBMOD':
                                $("#subMod").val(dataArr[i].conValue);
                                break;
                            case 'MSG_SUBPARAM':
                                $("#subParam").val(dataArr[i].conValue);
                                break;
                            case 'MSG_PAYMOD':
                                $("#payMod").val(dataArr[i].conValue);
                                break;
                            case 'MSG_PAYPARAM':
                                $("#payParam").val(dataArr[i].conValue);
                            case 'MSG_USEMOD':
                                $("#useMod").val(dataArr[i].conValue);
                                break;
                            case 'MSG_USEPARAM':
                                $("#useParam").val(dataArr[i].conValue);
                                break;
                            case 'SITE_LOGO':
                                if (dataArr[i].conValue != null && dataArr[i].conValue != undefined && dataArr[i].conValue != '') {
                                    var str = "<img src='showImage?imgName=" + dataArr[i].conValue + "&type=3'/>";
                                    logoImg = dataArr[i].conValue;
                                    $('#fileUpload').html(str);
                                }
                                break;
                        }
                    }

                    form.render('select');
                }
            }
        });

        //上传图片
        upload.render({
            elem: '#fileUpload',
            url: "uploadImage",
            multiple: true,
            auto: false,
            data: {"type": 3},
            choose: function (obj) {
                obj.preview(function (index, file, result) {
                    var img = new Image();
                    img.onload = function () {
                        if (width == img.width && height == img.height) {
                            obj.upload(index, file);
                        } else {
                            layer.msg('图片尺寸，必须为' + width + 'px X ' + height + 'px。');
                        }
                    };
                    img.src = result;
                });
            },
            before: function (obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                });
            },
            done: function (result) {
                //关闭上传提示窗口
                layer.close(layer.msg());
                //照片回显
                var fileObj = result.data;
                //删除之前图片
                if (logoImg != null && logoImg != "") {
                    $.ajax({
                        url: "deleteFile", //请求接口
                        type: "get",   //请求方式
                        data: {     //参数列表
                            "fileName": logoImg,
                            "type": 3
                        },
                        dataType: "json",
                        async: false
                    });
                }
                logoImg = fileObj.uuid + fileObj.suffix;
                var str = "<img src='showImage?imgName=" + logoImg + "&type=3'/>";
                $('#fileUpload').html(str);
            }
        });

        //监听提交
        form.on('submit(setting)', function (data) {
            if (logoImg == null || logoImg == '' || logoImg == undefined) {
                layer.msg("请上传logo");
                return false;
            }
            //获取表单数据并填充
            sysList.push({conCode: "SITE_NAME", conValue: $("#siteName").val()});
            sysList.push({conCode: 'COPY_RIGHT', conValue: $("#copyright").val()});
            sysList.push({conCode: 'TECH_SUPPORT', conValue: $("#company").val()});
            sysList.push({conCode: 'MSG_NAME', conValue: $("#msgServerName").val()});
            sysList.push({conCode: 'MSG_DOMAIN', conValue: $("#domain").val()});
            sysList.push({conCode: 'MSG_APPID', conValue: $("#msgAppId").val()});
            sysList.push({conCode: 'MSG_APPKEY', conValue: $("#msgAppKey").val()});
            sysList.push({conCode: 'MSG_ENDPOINTNAME', conValue: $("#endpointName").val()});
            sysList.push({conCode: 'MSG_REGIONID', conValue: $("#regionId").val()});
            sysList.push({conCode: 'MSG_SIGNNAME', conValue: $("#signName").val()});
            sysList.push({conCode: 'MSG_CHANGEMOD', conValue: $("#changeMod").val()});
            sysList.push({conCode: 'MSG_CHANGEPARAM', conValue: $("#changeParam").val()});
            sysList.push({conCode: 'MSG_SUBMOD', conValue: $("#subMod").val()});
            sysList.push({conCode: 'MSG_SUBPARAM', conValue: $("#subParam").val()});
            sysList.push({conCode: 'MSG_PAYMOD', conValue: $("#payMod").val()});
            sysList.push({conCode: 'MSG_PAYPARAM', conValue: $("#payParam").val()});
            sysList.push({conCode: 'MSG_USEMOD', conValue: $("#useMod").val()});
            sysList.push({conCode: 'MSG_USEPARAM', conValue: $("#useParam").val()});
            sysList.push({conCode: 'SITE_LOGO', conValue: logoImg});

            $.ajax({
                url: "manager/editSysSetting", //请求接口
                type: "post",   //请求方式
                data: JSON.stringify(sysList),    //参数列表
                dataType: "json",
                contentType: 'application/json;charset=utf-8',
                async: false,
                success: function (data) {
                    if (data.code == 200) { //编辑成功
                        parent.layer.msg('保存成功');
                    } else { //编辑失败
                        parent.layer.msg('保存失败');
                    }
                    setTimeout(" location.reload()", 2000);
                }
            });
        });
    });
</script>
</body>
</html> 