<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 修改预约日期</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
</head>
<body class="layui-dialog-body">
<div class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">日期选择</label>
        <div class="layui-input-block">
            <select name="arVisittimes" id="arVisittimes" lay-verify="required" lay-filter="arVisittimes" lay-search>
                <option value="">直接选择或搜索选择</option>
                <option th:each="list:${timeList}" th:text="${list.skuDates}"
                        th:value="${list.skuId}+';'+${list.skuDates}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block layui-align-right">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
        </div>
    </div>
    <input type="hidden" id="proId" th:value="${proId}"/>
    <input type="hidden" id="merId" th:value="${merId}"/>
    <input type="hidden" id="arVisittime"/>
    <input type="hidden" id="arId"/>
</div>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/public.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form;

        // 监听提交操作
        form.on('submit(submit)', function (data) {
            var arVisittimes = $("#arVisittimes").val().split(";");
            var arVisittime = formatDate($("#arVisittime").val());
            $.ajax({
                url: "manager/editArvisittime",
                type: "POST",
                data: {
                    "proId": $("#proId").val(),
                    "merId":$("#merId").val(),
                    "arVisittime":arVisittime,
                    "skuId":arVisittimes[0],
                    "arVisittimes":arVisittimes[1],
                    "arId":$("#arId").val(),
                },
                dataType: "json",
                success: function (result) {
                    if (result.code == 200) { //成功
                        location.reload();
                        parent.layer.closeAll();
                        parent.layer.msg(result.msg);
                    } else { //失败
                        parent.layer.msg(result.msg);
                    }
                }
            });
        });
    });

    //显示数据
    function renderData(data) {
        layui.use(['form', 'laydate'], function () {
            var $ = layui.jquery;
            $("#arVisittime").val(data.arVisittime);
            $("#arId").val(data.arId);
        });
    }
</script>
</body>
</html>