<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 旅游预约记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div class="layui-margin-10">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">卡号</label>
                            <div class="layui-input-block">
                                <input type="text" id="cardCode"name="cardCode" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">会员手机号</label>
                            <div class="layui-input-block">
                                <input type="text" id="memTel" name="memTel" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">预约状态</label>
                            <div class="layui-input-block">
                                <select name="arAppstate"lay-search lay-filter="arAppStateSearch">
                                    <option value="">直接选择或搜索选择</option>
                                    <option value="待预约">待预约</option>
                                    <option value="已预约">已预约</option>
                                    <option value="已完成">已完成</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-block">
                                <input type="text" id="arContact1" name="arContact1" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-block">
                                <input type="text" id="arTel1" name="arTel1" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">出发城市</label>
                            <div class="layui-input-block">
                                <select id="arDepartcity" name="arDepartcity" lay-search lay-filter="arDepartCitySearch">
                                    <option value="">直接选择或搜索选择</option>
                                    <option th:each="list:${subscribeList}" th:text="${list.skuDepartcity}"
                                            th:value="${list.skuDepartcity}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">核销码</label>
                            <div class="layui-input-block">
                                <input type="text" id="arUsecode" name="arUsecode" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline" style="width: 417px;">
                            <label class="layui-form-label" >出发时间</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="dataTime" name="dataTime" placeholder="开始 到 结束">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="dataSearch">搜索</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <script type="text/html" id="tableOperBar">
            <div class="layui-btn-container">
                <button shiro:hasPermission="69" class="layui-btn layui-btn-sm data-add-btn" lay-event="export">导出所有预约</button>
            </div>
        </script>
        <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
        <script type="text/html" id="tableDataBar">
            {{# if(d.arAppstate != null && d.arAppstate != undefined && d.arAppstate != '' && d.arAppstate == '待预约'){ }}
            <a shiro:hasPermission="62" class="layui-btn layui-btn-xs data-count-edit" lay-event="add">立即预约</a>
            <a shiro:hasPermission="63" class="layui-btn layui-btn-xs layui-btn-disabled data-count-edit" >取消预约</a>
            <a shiro:hasPermission="64" class="layui-btn layui-btn-xs layui-btn-disabled data-count-edit" >修改出发时间</a>
            {{# }else if(d.arAppstate != null && d.arAppstate != undefined && d.arAppstate != '' && d.arAppstate == '已预约'){ }}
            <a shiro:hasPermission="62" class="layui-btn layui-btn-xs layui-btn-disabled data-count-edit" >立即预约</a>
            <a shiro:hasPermission="63" class="layui-btn layui-btn-xs data-count-edit" lay-event="cancel">取消预约</a>
            <a shiro:hasPermission="64" class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">修改出发时间</a>
            {{# }else if(d.arAppstate != null && d.arAppstate != undefined && d.arAppstate != '' && d.arAppstate == '已完成'){ }}
            <a shiro:hasPermission="62" class="layui-btn layui-btn-xs layui-btn-disabled data-count-edit" >立即预约</a>
            <a shiro:hasPermission="63" class="layui-btn layui-btn-xs layui-btn-disabled data-count-edit" >取消预约</a>
            <a shiro:hasPermission="64" class="layui-btn layui-btn-xs layui-btn-disabled data-count-edit" >修改出发时间</a>
            {{# } }}
        </script>
        <!--日期处理-->
        <script type="text/html" id="dateFormat">
            {{# if(d.arVisittime != null && d.arVisittime != undefined && d.arVisittime != ''){ }}
            <div>{{formatDate(d.arVisittime, 'yyyy-MM-dd')}}</div>
            {{# } }}
        </script>
    </div>
</div>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/public.js}" charset="utf-8"></script>
<script type="text/javascript">
    var arAppstate;
    var arDepartcity;
    var pageNow;
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        laydate.render({
            elem: '#dataTime'
            ,type: 'datetime'
            ,range: '~'
            ,format: 'yyyy-MM-dd HH:mm:ss'
            ,trigger: 'click'
        });

        //数据表格
        var tableObj = table.render({
            elem: '#dataTable',
            url: 'manager/getAllSubscribe',
            toolbar: '#tableOperBar',
            even: true,
            title: '旅游预约表',
            cellMinWidth: 120,
            cols: [
                [
                    {type: 'numbers', title: 'ID', width: 80, fixed: 'left', align: 'center'},
                    {field: 'arTel1', title: '联系电话', align: 'center'},
                    {field: 'cardCode', title: '卡号', align: 'center'},
                    {field: 'arUsetime', title: '核销时间', align: 'center', width: 180, sort: true},
                    {field: 'arVisittime', title: '出发时间', align: 'center', sort: true, templet: '#dateFormat'},
                    {field: 'arApptime', title: '预约时间', align: 'center', width: 180, sort: true},
                    {field: 'memNickname', title: '会员昵称', align: 'center'},
                    {field: 'memTel', title: '会员手机号', align: 'center'},
                    {field: 'proName', title: '商品名称', align: 'center'},
                    {field: 'merName', title: '商户名称', align: 'center'},
                    {field: 'arUsecode', title: '核销码', align: 'center'},
                    {field: 'arDepartcity', title: '出发城市', align: 'center'},
                    {field: 'arAppstate', title: '预约状态', align: 'center'},
                    {field: 'arContact1', title: '联系人', align: 'center'},
                    {field: 'arIdcard1', title: '身份证', width: 180, align: 'center'},
                    {title: '操作', toolbar: '#tableDataBar', fixed: 'right', align: 'center', width: 270}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            where:{
                type:2
            },
            page: true,
            done: function (res, curr, count) {
                pageNow = curr;
            }
        });

        //预约状态下拉框监听
        form.on('select(arAppStateSearch)', function (data) {
            arAppstate = data.value;
            if ($("#cardCode").val() != "" && (!(/^(\+|-)?\d+$/.test($("#cardCode").val())) || $("#cardCode").val() <= 0)) {
                layer.msg("卡号只能为大于0的整数");
                return false;
            }
            var dataTime = $("#dataTime").val();
            var startTime = "";
            var endTime = "";
            if (dataTime != null && dataTime !=undefined && dataTime != '') {
                startTime = dataTime.split("~")[0];
                endTime = dataTime.split("~")[1]
            }
            //执行搜索重载
            table.reload('dataTable', {
                page: {
                    curr: 1
                }
                , where: {
                    type:2,
                    arUsecode: $("#arUsecode").val(),
                    arContact1: $("#arContact1").val(),
                    arTel1: $("#arTel1").val(),
                    arAppstate: arAppstate,
                    memTel:$("#memTel").val(),
                    cardCode: $("#cardCode").val(),
                    startTime: startTime,
                    endTime: endTime,
                    arDepartcity: arDepartcity,
                }
            }, 'data');
        });

        //出发城市下拉框监听
        form.on('select(arDepartCitySearch)', function (data) {
            arDepartcity = data.value;
            if ($("#cardCode").val() != "" && (!(/^(\+|-)?\d+$/.test($("#cardCode").val())) || $("#cardCode").val() <= 0)) {
                layer.msg("卡号只能为大于0的整数");
                return false;
            }
            var dataTime = $("#dataTime").val();
            var startTime = "";
            var endTime = "";
            if (dataTime != null && dataTime !=undefined && dataTime != '') {
                startTime = dataTime.split("~")[0];
                endTime = dataTime.split("~")[1]
            }
            //执行搜索重载
            table.reload('dataTable', {
                page: {
                    curr: 1
                }
                , where: {
                    type:2,
                    arUsecode: $("#arUsecode").val(),
                    arContact1: $("#arContact1").val(),
                    arTel1: $("#arTel1").val(),
                    arAppstate: arAppstate,
                    memTel:$("#memTel").val(),
                    cardCode: $("#cardCode").val(),
                    startTime: startTime,
                    endTime: endTime,
                    arDepartcity: arDepartcity,
                }
            }, 'data');
        });

        //监听搜索操作
        form.on('submit(dataSearch)', function (data) {
            if ($("#cardCode").val() != "" && (!(/^(\+|-)?\d+$/.test($("#cardCode").val())) || $("#cardCode").val() <= 0)) {
                layer.msg("卡号只能为大于0的整数");
                return false;
            }
            var dataTime = $("#dataTime").val();
            var startTime = "";
            var endTime = "";
            if (dataTime != null && dataTime !=undefined && dataTime != '') {
                startTime = dataTime.split("~")[0];
                endTime = dataTime.split("~")[1]
            }
            //执行搜索重载
            table.reload('dataTable', {
                page: {
                    curr: 1
                }
                , where: {
                    type:2,
                    arUsecode: $("#arUsecode").val(),
                    arContact1: $("#arContact1").val(),
                    arTel1: $("#arTel1").val(),
                    arAppstate: arAppstate,
                    memTel:$("#memTel").val(),
                    cardCode: $("#cardCode").val(),
                    startTime: startTime,
                    endTime: endTime,
                    arDepartcity: arDepartcity,
                    arTel1:$("#arTel1").val()
                }
            }, 'data');
            return false;
        });

        //监听表格头工具栏操作
        table.on('toolbar(dataTable)', function (obj) {
            if (obj.event === 'export') {
                layer.confirm('确定要导出吗？', function (index) {
                    var dataTime = $("#dataTime").val();
                    var startTime = "";
                    var endTime = "";
                    if (dataTime != null && dataTime !=undefined && dataTime != '') {
                        startTime = dataTime.split("~")[0];
                        endTime = dataTime.split("~")[1]
                    }
                    var param = {
                        type:2,
                        arUsecode: $("#arUsecode").val(),
                        arContact1: $("#arContact1").val(),
                        arTel1: $("#arTel1").val(),
                        arAppstate: arAppstate,
                        memTel:$("#memTel").val(),
                        cardCode: $("#cardCode").val(),
                        startTime: startTime,
                        endTime: endTime,
                        arDepartcity: arDepartcity,
                        arTel1:$("#arTel1").val()
                    };
                    var str = JSON.stringify(param);
                    window.location = "manager/expAllSubscribe?param=" + encodeURI(encodeURI(str));
                    layer.close(layer.index);
                });
            }
        });

        //监听表格行操作
        table.on('tool(dataTable)', function (obj) {
            var data = obj.data;
            if(obj.event === 'add'){
                modalDialog(tableObj,'预约旅游','subscribe-tour-sub?proId='+data.proId,'400px','370px',data);
            }else if (obj.event === 'cancel') {
                layer.confirm('确定要取消吗？', function (index) {
                    $.ajax({
                        url: "manager/cancelSubscribe",
                        type: "POST",
                        data: {
                            "proId": data.proId,
                            "cardId": data.cardId,
                            "memId": data.memId,
                            "openId": data.openId,
                            "proName": data.proName,
                            "merId": data.merId,
                            "arVisittime": data.arVisittime,
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result.code == 200) { //成功
                                var dataTime = $("#dataTime").val();
                                var startTime = "";
                                var endTime = "";
                                if (dataTime != null && dataTime !=undefined && dataTime != '') {
                                    startTime = dataTime.split("~")[0];
                                    endTime = dataTime.split("~")[1]
                                }
                                //执行搜索重载
                                table.reload('dataTable', {
                                    page: {
                                        curr: pageNow
                                    }
                                    , where: {
                                        type:2,
                                        arUsecode: $("#arUsecode").val(),
                                        arContact1: $("#arContact1").val(),
                                        arTel1: $("#arTel1").val(),
                                        arAppstate: arAppstate,
                                        memTel:$("#memTel").val(),
                                        cardCode: $("#cardCode").val(),
                                        startTime: startTime,
                                        endTime: endTime,
                                        arDepartcity: arDepartcity,
                                    }
                                }, 'data');
                                layer.close(layer.index);
                                parent.layer.msg(result.msg);
                            } else { //失败
                                parent.layer.msg(result.msg);
                            }
                        }
                    });
                });
            }else if (obj.event === 'edit') {
                modalDialog(tableObj,'修改出发时间','subscribe-edit-visittime?proId='+data.proId+'&merId='+data.merId,'400px','400px',data);
            }
        });
    });
</script>
</body>
</html>