<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>预订运营平台 - 立即预约体检</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/public.css}" media="all">
</head>
<body class="layui-dialog-body">
<div class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">体检中心</label>
        <div class="layui-input-block">
            <select name="merId" id="merId" lay-verify="required" lay-filter="merId" lay-search>
                <option value="">直接选择或搜索选择</option>
                <option th:each="list:${centerList}" th:text="${list.merName}"
                        th:value="${list.merId}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">体检时间</label>
        <div class="layui-input-block">
            <select name="arVisittime" id="arVisittime" lay-filter="arVisittime" lay-verify="required" lay-search>

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系人</label>
        <div class="layui-input-block">
            <input type="text" id="arContact1" name="arContact1"  autocomplete="off"
                   placeholder="请输入联系人"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">身份证号码</label>
        <div class="layui-input-block">
            <input type="text" id="arIdcard1" name="arIdcard1"  autocomplete="off"
                   placeholder="请输入身份证号码"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-block">
            <input type="text" id="arTel1" name="arTel1"  autocomplete="off" placeholder="请输入联系电话"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block layui-align-right">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button id="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <input type="hidden" th:value="${proId}" id="proId"/>
    <input type="hidden" id="cardId" name="cardId"/>
    <input type="hidden" id="memId" name="memId"/>
    <input type="hidden" id="openId" name="openId"/>
    <input type="hidden" id="proName" name="proName"/>
</div>
<script th:src="@{/static/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
<script th:src="@{/static/js/public.js}" charset="utf-8"></script>
<script>
    var merId;
    var count = 0;
    layui.use(['form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        //自定义验证规则
        // form.verify({
        //     arTel1: [
        //         /^1([38]\d|5[0-35-9]|7[3678])\d{8}$/
        //         , '请输入正确的手机号'
        //     ]
        // });

        $("#reset").click(function () {
            $("#arTel1").val("");
            $("#arIdcard1").val("");
            $("#arContact1").val("");
            $("#merId").val("");
            $("#arVisittime").val("")
            merId = "";
            form.render();
        })


        // 监听提交操作
        form.on('submit(submit)', function (data) {
            if (count > 0) {
                return false;
            } else {
                var arVisittime = $("#arVisittime").val().split(";");
                var cardId = $("#arIdcard1").val();
                if(cardId != null && cardId != '' && cardId != undefined && !isIDCard(cardId)){
                    layer.msg("请输入正确的身份证号码");
                    return false;
                }
                $.ajax({
                    url: "manager/subscribe",
                    type: "POST",
                    data: {
                        "proId": $("#proId").val(),
                        "cardId": $("#cardId").val(),
                        "memId": $("#memId").val(),
                        "proName": $("#proName").val(),
                        "merId": merId,
                        "arContact1": $("#arContact1").val(),
                        "arVisittime": arVisittime[1],
                        "skuId": arVisittime[0],
                        "arIdcard1": cardId,
                        "arTel1": $("#arTel1").val(),
                        "openId":$("#openId").val(),
                        "pcId":1
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.code == 200) { //成功
                            location.reload();
                            parent.layer.closeAll();
                            parent.layer.msg(result.msg);
                            //点击次数累加
                            count++;
                        } else { //失败
                            parent.layer.msg(result.msg);
                            count = 0;
                        }
                    }
                });
            }
        });

        //商户下拉监听
        form.on('select(merId)', function (data) {
            merId = data.value;
            $.ajax({
                url: "manager/getSubscribeTime",
                type: "GET",
                data: {"proId": $("#proId").val(), "merId": data.value},
                dataType: "json",
                success: function (result) {
                    var skuList = result.data;
                    var str = '<option value="">直接选择或搜索选择</option>';
                    for (var x in skuList) {
                        str += '<option value="' + skuList[x].skuId +';'+skuList[x].skuDates+ '">' + skuList[x].skuDates + '</option>'
                    }
                    $("#arVisittime").html(str);
                    form.render();
                }
            });
        });
    });

    function renderData(data) {
        layui.use(['form'], function () {
            var $ = layui.jquery;
            $("#proId").val(data.proId);
            $("#proName").val(data.proName);
            $("#cardId").val(data.cardId);
            $("#memId").val(data.memId);
            $("#openId").val(data.openId);
        });
    }
</script>
</body>
</html>