*{
	margin:0px ;
	padding
	:0px ;
}
.heds{
	position: relative;
	top: 50px;
}
.hed2{
	position: relative;
	top: -55px;
}
.image{
	height:100px;
}
.os{
	/*border: 1px red solid;*/
	background-color: #FFFFFF;
}
.body{
	background-color: #F6F6F6;
}
p{
	height: 40px;
}
.bot{
	width: 70%;
}